<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Medalyst.io - register</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/system.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/main.js"></script>
  </head>

  <body>
  	<!-- HEADER -->
	<header class="header" id="header">
		<div class="wc header-wrapper">
			<div class="header-logo"><img src="img/logo-white.png"> </div>
			<nav class="header-menu">
				<ul class="header-menu-list">
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Последние достижения</a></li>
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Как это работает</a></li>
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Истории успеха</a></li>
				</ul>
			</nav>
			<div class="header-enter">
				<a class="header-enter-link" href="#">Регистрация</a>
				<a class="header-enter-button mdlst-button" href="#">Войти</a>
			</div>
		</div>

	</header>
	<!-- .HEADER END -->

	<div id="content" class="content">
		<!-- USERPANEL -->
	 	<div id="userpanel" class="userpanel">
	 		<div class="wc">
	 			<div class="userpanel-user">
	 				<div class="userpanel-user-pic" style="background-image: url(img/_user-ava.png)"></div>
	 				<div class="userpanel-user-info">
	 					<div class="userpanel-user-info-name">Иван Константиновский</div>
	 					<div class="userpanel-user-info-date">2 месяца на сайте</div>
	 				</div>
	 			</div>
	 			<div class="userpanel-info">
	 				<div class="userpanel-info-level">
	 					<div class="userpanel-info-level-point">12</div>
	 				</div>
	 				<div class="userpanel-info-scale">
	 					<div class="interests-selector-scale-viewport userpanel-info-scale-scale">
					 		<div class="interests-selector-scale-track" style="margin-left: -40%;"></div>
					 	</div>
					 	<p>Ваш уровень, до следующего уровня осталось 23 очка. <i class="js-tooltip" data-content="Совершайте достижения, чтобы заработать баллы"></i></p>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
		<!-- .USERPANEL END-->

		<!-- CONTENT -->
		<div class="container">
			<div class="wc">
				<div class="container-cols">
					<!-- menu -->
					<div class="container-col container-col-1">
						<div class="container-menu">
							<div class="container-menu-mobile"></div>
							<div class="container-menu-wrapper">
								<ul class="container-menu-list">
									<li class="container-menu-list-li">
										<a class="container-menu-list-link" href="#">Дэшборд</a>
										<div class="container-menu-list-meta"></div>
									</li>
									<li class="container-menu-list-li">
										<a class="container-menu-list-link" href="#">Новости</a>
										<div class="container-menu-list-meta">
											<div class="container-menu-list-meta-counter">(185)</div>
										</div>
									</li>
									<li class="container-menu-list-li">
										<a class="container-menu-list-link" href="#">Моя страница</a>
										<div class="container-menu-list-meta">
											<a class="container-menu-list-meta-add" href="#">
												<span class="container-menu-list-meta-add-plus">+</span>
											</a>
										</div>
									</li>
									<li class="container-menu-list-li container-menu-list-li-active">
										<a class="container-menu-list-link" href="#">Достижения</a>
										<div class="container-menu-list-meta"></div>
									</li>
									<li class="container-menu-list-li">
										<a class="container-menu-list-link" href="#">Цели</a>
										<div class="container-menu-list-meta"></div>
									</li>
									<li class="container-menu-list-li">
										<a class="container-menu-list-link" href="#">Мои друзья</a>
										<div class="container-menu-list-meta"></div>
									</li>
									<li class="container-menu-list-li">
										<a class="container-menu-list-link" href="#">Квесты</a>
										<div class="container-menu-list-meta"></div>
									</li>
									<li class="container-menu-list-li">
										<a class="container-menu-list-link" href="#">Награды</a>
										<div class="container-menu-list-meta"></div>
									</li>
									<li class="container-menu-list-li">
										<a class="container-menu-list-link" href="#">Моё развитие</a>
										<div class="container-menu-list-meta"></div>
									</li>
								</ul>
							</div>
						</div>
					</div>


					<!-- container-content -->
					<div class="container-col container-col-2">
						<div class="output">
							<div class="output-header">
								<h2 class="mdlst-h2">Квесты</h2>
								<div class="output-header-meta">

									<div class="dropdown-select">
										<div class="dropdown-select-block">
											<div class="dropdown-select-block-text">Политика</div>
											<div class="dropdown-select-block-arrow"></div>
										</div>
										<select name="" id="" class="dropdown-select-real">
											<option value="">Политика</option>
											<option value="">Спорт</option>
											<option value="">Природа</option>
										</select>
									</div>

								</div>

							</div>
							<div class="output-controlls">
								<div class="output-controlls-searchbox"><div class="searchbox"><input type="text" class="searchbox-inp"><div class="searchbox-icon"></div></div></div>
								<div class="output-controlls-checkbox">
									<div class="chk-w">
										<div class="chk-img"></div>
										<div class="chk-t">Подходящие по духу</div>
										<input type="checkbox" class="chk-chk">
									</div>
									
								</div>
								
							</div>
							<div class="quests-list">
								<!-- QUEST -->
								<div class="questblock">
									<div class="questblock-pic" style="background-image: url(img/_quest.jpg)">
										<div class="questblock-pic-tag">музыка</div>
									</div>
									<div class="questblock-info">
										<div class="questblock-info-meta">
											<div class="questblock-info-meta-points">+7 к музыкальности</div>
											<div class="questblock-info-meta-lurms">+2</div>
										</div>
										<div class="questblock-info-title">Сходить на рейв</div>
										<div class="questblock-info-info">
											<ul class="questblock-info-info-list">
												<li class="questblock-info-info-list-li">Участвует: <b>любой</b></li>
												<li class="questblock-info-info-list-li">Дедлай: <b>28.05.2017</b></li>
												<li class="questblock-info-info-list-li">Даты старта: <b>нет</b></li>
											</ul>
											<ul class="questblock-info-info-list-2">
												<li class="questblock-info-info-list-li"><span class="mdlst-accent">Награда: Ночной житель</span></li>
												<li class="questblock-info-info-list-li"><span class="mdlst-accent">Выполнили: 13 466</span></li>
												<li class="questblock-info-info-list-li">Провалили: 241</li>
											</ul>
										</div>
										<div class="questblock-info-controlls">
											<div class="questblock-info-controlls-likes">
												<div class="like-controll">
													<div class="like-controll-plus like-controll-active"><span></span>25</div>
													<div class="like-controll-minus"><span></span>12</div>
												</div>
											</div>
											<div class="questblock-info-controlls-comments">
												<div class="comment-controll"><span></span>94</div>
											</div>
											<div class="questblock-info-controlls-button">
												<a href="#" class="mdlst-button mdlst-button-default">Взять квест</a>
											</div>
										</div>
									</div>
								</div>
								<!-- QUEST END . -->
								<!-- QUEST -->
								<div class="questblock">
									<div class="questblock-pic" style="background-image: url(img/_quest.jpg)">
										<div class="questblock-pic-tag">музыка</div>
									</div>
									<div class="questblock-info">
										<div class="questblock-info-meta">
											<div class="questblock-info-meta-points">+7 к музыкальности</div>
											<div class="questblock-info-meta-lurms">+2</div>
										</div>
										<div class="questblock-info-title">Сходить на рейв</div>
										<div class="questblock-info-info">
											<ul class="questblock-info-info-list">
												<li class="questblock-info-info-list-li">Участвует: <b>любой</b></li>
												<li class="questblock-info-info-list-li">Дедлай: <b>28.05.2017</b></li>
												<li class="questblock-info-info-list-li">Даты старта: <b>нет</b></li>
											</ul>
											<ul class="questblock-info-info-list-2">
												<li class="questblock-info-info-list-li"><span class="mdlst-accent">Награда: Ночной житель</span></li>
												<li class="questblock-info-info-list-li"><span class="mdlst-accent">Выполнили: 13 466</span></li>
												<li class="questblock-info-info-list-li">Провалили: 241</li>
											</ul>
										</div>
										<div class="questblock-info-controlls">
											<div class="questblock-info-controlls-likes">
												<div class="like-controll">
													<div class="like-controll-plus like-controll-active"><span></span>25</div>
													<div class="like-controll-minus"><span></span>12</div>
												</div>
											</div>
											<div class="questblock-info-controlls-comments">
												<div class="comment-controll"><span></span>94</div>
											</div>
											<div class="questblock-info-controlls-button">
												<a href="#" class="mdlst-button mdlst-button-default">Взять квест</a>
											</div>
										</div>
									</div>
								</div>
								<!-- QUEST END . -->
								<!-- QUEST -->
								<div class="questblock">
									<div class="questblock-pic" style="background-image: url(img/_quest.jpg)">
										<div class="questblock-pic-tag">музыка</div>
									</div>
									<div class="questblock-info">
										<div class="questblock-info-meta">
											<div class="questblock-info-meta-points">+7 к музыкальности</div>
											<div class="questblock-info-meta-lurms">+2</div>
										</div>
										<div class="questblock-info-title">Сходить на рейв</div>
										<div class="questblock-info-info">
											<ul class="questblock-info-info-list">
												<li class="questblock-info-info-list-li">Участвует: <b>любой</b></li>
												<li class="questblock-info-info-list-li">Дедлай: <b>28.05.2017</b></li>
												<li class="questblock-info-info-list-li">Даты старта: <b>нет</b></li>
											</ul>
											<ul class="questblock-info-info-list-2">
												<li class="questblock-info-info-list-li"><span class="mdlst-accent">Награда: Ночной житель</span></li>
												<li class="questblock-info-info-list-li"><span class="mdlst-accent">Выполнили: 13 466</span></li>
												<li class="questblock-info-info-list-li">Провалили: 241</li>
											</ul>
										</div>
										<div class="questblock-info-controlls">
											<div class="questblock-info-controlls-likes">
												<div class="like-controll">
													<div class="like-controll-plus like-controll-active"><span></span>25</div>
													<div class="like-controll-minus"><span></span>12</div>
												</div>
											</div>
											<div class="questblock-info-controlls-comments">
												<div class="comment-controll"><span></span>94</div>
											</div>
											<div class="questblock-info-controlls-button">
												<a href="#" class="mdlst-button mdlst-button-default">Взять квест</a>
											</div>
										</div>
									</div>
								</div>
								<!-- QUEST END . -->
								<!-- QUEST -->
								<div class="questblock">
									<div class="questblock-pic" style="background-image: url(img/_quest.jpg)">
										<div class="questblock-pic-tag">музыка</div>
									</div>
									<div class="questblock-info">
										<div class="questblock-info-meta">
											<div class="questblock-info-meta-points">+7 к музыкальности</div>
											<div class="questblock-info-meta-lurms">+2</div>
										</div>
										<div class="questblock-info-title">Сходить на рейв</div>
										<div class="questblock-info-info">
											<ul class="questblock-info-info-list">
												<li class="questblock-info-info-list-li">Участвует: <b>любой</b></li>
												<li class="questblock-info-info-list-li">Дедлай: <b>28.05.2017</b></li>
												<li class="questblock-info-info-list-li">Даты старта: <b>нет</b></li>
											</ul>
											<ul class="questblock-info-info-list-2">
												<li class="questblock-info-info-list-li"><span class="mdlst-accent">Награда: Ночной житель</span></li>
												<li class="questblock-info-info-list-li"><span class="mdlst-accent">Выполнили: 13 466</span></li>
												<li class="questblock-info-info-list-li">Провалили: 241</li>
											</ul>
										</div>
										<div class="questblock-info-controlls">
											<div class="questblock-info-controlls-likes">
												<div class="like-controll">
													<div class="like-controll-plus like-controll-active"><span></span>25</div>
													<div class="like-controll-minus"><span></span>12</div>
												</div>
											</div>
											<div class="questblock-info-controlls-comments">
												<div class="comment-controll"><span></span>94</div>
											</div>
											<div class="questblock-info-controlls-button">
												<a href="#" class="mdlst-button mdlst-button-default">Взять квест</a>
											</div>
										</div>
									</div>
								</div>
								<!-- QUEST END . -->
							</div>

						</div>

					</div>


				</div>
			</div>
		</div>
		<!-- . CONTENT END -->

	</div>
	<footer id="footer" class="footer">
		<div class="footer-wrapper">
			<div class="wc">
				<div class="footer-copy">@Medalyst, 2017</div>
				<div class="footer-menu">
					<ul class="footer-menu-list">
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Политика</a></li>
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Обратная связь</a></li>
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Публичная оферта</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
  </body>
</html>