<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Medalyst.io - register</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/system.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/main.js"></script>
  </head>

  <body>
  	<!-- HEADER -->
	<header class="header" id="header">
		<div class="wc header-wrapper">
			<div class="header-logo"><img src="img/logo-white.png"> </div>
			<nav class="header-menu">
				<ul class="header-menu-list">
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Последние достижения</a></li>
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Как это работает</a></li>
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Истории успеха</a></li>
				</ul>
			</nav>
			<div class="header-enter">
				<a class="header-enter-link" href="#">Регистрация</a>
				<a class="header-enter-button mdlst-button" href="#">Войти</a>
			</div>
		</div>

	</header>
	<!-- .HEADER END -->

	<div id="content" class="content">
		<!-- REGISTRATION -->
 			<div class="pregister-interests">
				<div class="wc wc-c">
					<div class="pregister-img-interests"><img src="img/interests-hello.png" alt=""></div>
					<h2 class="mdlst-h2">Выберите 5 наиболее<br>интересных вещей для вас</h2>
					<h3 class="mdlst-h3">Попробуйте заполнить шкалу полностью, добавляя интересы.<br>Мы лучше поймём, что вам интересно, а вы получите приветственную награду.</h3>
					 <div class="interests-selector">
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="1">Философия</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="2">Кино</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="3">Спорт</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="4">Игры</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="5">Политика</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="6">Youtube</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="7">Рыбалка</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="8">Звезды</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="9">Недвижимость</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="10">Путешествия</div>
					 	<div class="interests-button mdlst-button js-interest-selector-takeinterest" data-id="11">Самообразование</div>
					 </div>
					 <div class="mdlst-hr"></div>
					 <div class="interests-selector-selected">
				 		<div class="interests-button-selected mdlst-button" data-id="1">Философия <div class="mdlst-button-closer js-interest-selector-removeinterest"></div></div>
					 </div> 
					 <div class="interests-selector-scale">
					 	<div class="interests-selector-scale-viewport">
					 		<div class="interests-selector-scale-track"></div>
					 	</div>
					 </div>
					 <a href="#" class="mdlst-button mdlst-button-accent">Перейти в личный кабинет</a>
				</div>
			</div>
 
		<!-- .REGISTRATION END-->

	</div>
	<footer id="footer" class="footer">
		<div class="footer-wrapper">
			<div class="wc">
				<div class="footer-copy">@Medalyst, 2017</div>
				<div class="footer-menu">
					<ul class="footer-menu-list">
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Политика</a></li>
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Обратная связь</a></li>
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Публичная оферта</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
  </body>
</html>