<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Medalyst.io - register</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/system.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
  </head>

  <body>
  	<!-- HEADER -->
	<header class="header" id="header">
		<div class="wc header-wrapper">
			<div class="header-logo"><img src="img/logo-white.png"> </div>
			<nav class="header-menu">
				<ul class="header-menu-list">
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Последние достижения</a></li>
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Как это работает</a></li>
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Истории успеха</a></li>
				</ul>
			</nav>
			<div class="header-enter">
				<a class="header-enter-link" href="#">Регистрация</a>
				<a class="header-enter-button mdlst-button" href="#">Войти</a>
			</div>
		</div>

	</header>
	<!-- .HEADER END -->

	<div id="content" class="content content-pic-chooseemail">
		<!-- REGISTRATION -->
		<div class="pregister pregister-chooseemail">
			<div class="wc wc-c">
				<h2 class="mdlst-h2">Email подтвержден</h2>
				<h3 class="mdlst-h3">Придумайте пароль для учетной записи Medalist</h3>
				<form action="" class="pregister-form">
					<input type="password" class="mdlst-input" placeholder="">
					<div class="pregister-button-wrapper"><button class="mdlst-button mdlst-button-default">Сохранить и войти в Medalist</button></div>
					
					<div class="pregister-socials">
						<p>войти через социальные сети</p>
						<div class="pregister-socials-icons">
							<div class="pregister-socials-icons-i pregister-socials-icons-i-vk "></div>
							<div class="pregister-socials-icons-i pregister-socials-icons-i-fb"></div>
							<div class="pregister-socials-icons-i pregister-socials-icons-i-tw"></div>
							<div class="pregister-socials-icons-i pregister-socials-icons-i-gp"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- .REGISTRATION END-->

	</div>
	<footer id="footer" class="footer">
		<div class="footer-wrapper">
			<div class="wc">
				<div class="footer-copy">@Medalyst, 2017</div>
				<div class="footer-menu">
					<ul class="footer-menu-list">
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Политика</a></li>
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Обратная связь</a></li>
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Публичная оферта</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
  </body>
</html>