<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Medalyst.io - register</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/system.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
  </head>

  <body>
  	<!-- HEADER -->
	<header class="header" id="header">
		<div class="wc header-wrapper">
			<div class="header-logo"><img src="img/logo-white.png"> </div>
			<nav class="header-menu">
				<ul class="header-menu-list">
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Последние достижения</a></li>
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Как это работает</a></li>
					<li class="header-menu-list-li"><a href="#" class="header-menu-list-li-a">Истории успеха</a></li>
				</ul>
			</nav>
			<div class="header-enter">
				<a class="header-enter-link" href="#">Регистрация</a>
				<a class="header-enter-button mdlst-button" href="#">Войти</a>
			</div>
		</div>

	</header>
	<!-- .HEADER END -->

	<div id="content" class="content">
		<!-- REGISTRATION -->
 			<div class="pregister-checkemail">
				<div class="wc wc-c">
					<div class="pregister-img"><img src="img/postman.png" alt=""></div>
					<h2 class="mdlst-h2">Первый шаг сделан</h2>
					<h3 class="mdlst-h3">Письмо с кодом активации отправлено на электронную <br>почту <a href="#">petergromov@ya.ru</a></h3>
					 
				</div>
			</div>
 
		<!-- .REGISTRATION END-->

	</div>
	<footer id="footer" class="footer">
		<div class="footer-wrapper">
			<div class="wc">
				<div class="footer-copy">@Medalyst, 2017</div>
				<div class="footer-menu">
					<ul class="footer-menu-list">
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Политика</a></li>
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Обратная связь</a></li>
						<li class="footer-menu-list-li"><a href="#" class="footer-menu-list-li-a">Публичная оферта</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
  </body>
</html>