.clear{
clear:both;
}

.mdlst-h2t-goals {
  font-size: 36px;
	margin-top:20px;
	margin-bottom:20px;
}

.mygoals-clock{
float:left;
margin-top:9px;
}

.output-header-meta-goals{
  position: absolute;
right:580px;
  top: 14px;
	height:30px;

}

.mygoals-process{
  color: #a7a7a7;
	margin-left:8px;
  font-size: 14px;
line-height:32px;
}


.mygoals-name-div{
  position: relative;
left:0px;
  top: 0px;

}


.mygoals-name{
  color: #8a44ff;
  font-size: 24px;
	line-height:35px;
	float:left;
}


.goal-done-button{
 background-color: #8a44ff;
 color: #fff;
	float:right;
	width:110px;
}






.mygoals-stats-div{
  position: relative;
	margin-top: 20px;
}


.mygoals-left-wrapper{
	width:500px;
	float:left;

}

.mygoals-diff{
  font-size: 14px;
	float:left;
	line-height:18px;
}


.mygoals-stars{
	margin-left:90px;
}

.mygoals-star{
  background-repeat: no-repeat;
  background-position: center;
	width:16px;
	height:15px;
	float:left;
	margin-left:1px;
	margin-right:1px;
}


.star-yellow{
  background-image: url("../img/goals/star-yellow.png");


}

.star-grey{
  background-image: url("../img/goals/star-grey.png");


}




.mygoals-dead{
  font-size: 14px;
	float:left;
	line-height:18px;
	margin-left:25px;
}

.color-red{
	color:red;
}


.mygoals-lock{
float:left;
margin-top:0px;
margin-left:40px;

}

.mygoals-privat{
margin-left:10px;

  color: #a7a7a7;
  font-size: 14px;
	float:left;
	line-height:18px;
}


.mygoals-progress{
	padding-top:40px;
	width:320px;

}




.goal-edit-button{
 background-color: #fff;
 color: #8a44ff;
	float:right;
	width:110px;
   border: thin dashed;

}



.goals-pictures{
	margin-top:30px;
	margin-bottom:30px;

}

.goals-picture-big img{
	float:left;
	width:431px;
	height:285px;

}


.goals-pictures-small{
	float:left;
	margin-left:18px;
	width:161px;
	height:128px;


}


.goals-picture-small img{
	float:left;
	margin-left:18px;
	width:161px;
	height:128px;

}

.goals-picture-small:nth-child(1), .goals-picture-small:nth-child(2) {
	margin-bottom:26px;
}

.goals-description{
color:#31333e;
}












ntainer{
	margin-top:30px;
/*   height: 100%;*/

}

.tabs {
    width: 100%;
    min-height: 600px;

}
 .tabs-ul,
 .tabs-li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabs,
.tabs input[type="radio"]:checked + label {
    position: relative;
}
.tabs-li,
.tabs input[type="radio"] + label {
    display: inline-block;
}
.tabs-li > div,
.tabs input[type="radio"] {
    position: absolute;
}


.tabs-li > div,
.tabs input[type="radio"] + label {
/*    border-bottom: solid 2px #ccc;*/
}

.tabs {
font-size: 18px;

}
.tabs-li {
    vertical-align: top;
}
.tabs-li:first-child {
    margin-left: 8px;
}
.tabs-li > div {
    top: 33px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    overflow: auto;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tabs input[type="radio"] + label {
    margin: 0 0px 0 0;
    padding: 0 18px;
    line-height: 32px;
    border-bottom: solid 2px #cecfd3;
    text-align: center;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.tabs input[type="radio"]:checked + label {
    z-index: 1;
    background: #fff;
    border-bottom: solid 2px #8a44ff;
    cursor: default;
	color: #8a44ff;
}
.tabs input[type="radio"] {
    opacity: 0;
}
.tabs input[type="radio"] ~ div {
    display: none;
}
.tabs input[type="radio"]:checked:not(:disabled) ~ div {
    display: block;
}
.tabs input[type="radio"]:disabled + label {
    opacity: .5;
    cursor: no-drop;
}



.goal-subtask{

    margin: 0;
    padding: 0;
    list-style: none;

}

.subtask-container{
	margin-top:20px;
}

.subtask-top{
height:43px;

}

.subtask-top input{
	color:#8a44ff;
/*	width:20px;*/
	float:left;

}

.subtask-top span{
	float:left;
}

.subtask-top-left{
	margin-top:10px;
	float:left;
	margin-right:30px;
}

.subtask-top-name{
	width:380px;
	font-size:14px;

}

.subtask-done .subtask-top-name{
	text-decoration:line-through;
}


.subtask-top span.subtask-top-dead{
	width:70px;
	margin-left:126px;

}

.subtask-bottom{
	font-style: italic;
	margin-left:20px;
	font-size:14px;
	color:#31333e;
}

.subtask-progress{
	width:70px;
	float:left;
	margin-top:7px;
	margin-left:15px;
}


.subtask-progress-height{
	height:6px;

}

.margin-0{
	margin:0;
}



.subtask-points{
    margin-left: 40px;
    margin-top: 10px;
    padding: 0;
    list-style: none;


}
.subtask-points li{
	padding-top:10px;

}

.input-check {
  display: inline-block;
  *display: inline; /* inline-block ie7 fix */
  *zoom: 1;
/*  vertical-align: top;
  position: relative;   */
  cursor: pointer;
	float:left;
}
.input-check input {
  width: 26px;
  height: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.input-check label {
  font-size: 14px;
  line-height: 22px;
  display: block;
  padding-left: 40px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.input-check label:before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 26px;
  height: 25px;
  margin-top: -11px;
  background: rgba(0, 0, 0, 0) url(../img/goals/checkbox.png) no-repeat;
  z-index: 5;
  content: '';
}
.input-check input:checked + label:before {
  background-position: 0 -25px;
}


.marginTop30{
margin-top:30px;
}

.marginBottom30{
margin-bottom:30px;
}




.withButton{

	float:left;
}

.withHeader{
	margin-top:27px;
	margin-right:70px;
	width:155px;
	padding: 12px 30px;
	
}

.withProcess{
	float:left;
	padding-top:20px;

}


.processWprogress{
    height: 30px;
    position: absolute;
    left: 363px;
    top: 30px;
}




#mygoals-name{
  color: #8a44ff;
  font-size: 24px;
	line-height:35px;
	float:left;
}

.withNoButton{
	margin-top:10px;

}

.listGoals-left{
	float:left;
	min-height:227px;
	width:470px;
	margin-right:30px;

}

.goals-picture-mid img{
/*	margin-left:50px;*/
	width:284px;
	height:227px;
}

.withList{
	float:none;

}

.goalDescr{
	margin-top:80px;

}

.showSubtasts{
	color:#a7a7a7;
	text-decoration:underline;
	cursor:pointer;
}


.goal-content{
	margin-bottom:30px;

}

.mygoals-block{
    text-decoration: none;
}