@import "hint.min.css";
@import "dropzone.css";
/*C_Purple = #6534ac*/
/*CMain = CBlue*/
.js-hidden {
  display: none;
}
.dib,
.dib_t,
.dib_m,
.dib_b,
.dib_base,
.dib_icon,
.header-logo,
.header-menu,
.header-menu-list-li,
.header-enter,
.footer-copy,
.footer-menu,
.footer-menu-list-li,
.container-col,
.output-controlls-searchbox,
.output-controlls-checkbox,
.chk-img,
.chk-t,
.like-controll-plus,
.like-controll-plus span,
.like-controll-minus,
.like-controll-minus span,
.like-controll-more,
.like-controll-more span,
.comment-block-data-user,
.comment-block-data-user-pic,
.comment-block-data-content,
.comment-controll span,
.form-add-comment-towhome-response-cross,
.form-add-comment-textarea,
.questssuggested-quests-quest-user,
.questssuggested-quests-quest-quest,
.questssuggested-quests-quest-quest-pic,
.questssuggested-quests-quest-quest-name,
.questssuggested-quests-quest-controlls,
.questdetail-completeduser,
.questdetail-completeduser-img,
.questdetail-completeduser-text,
.questblock-pic,
.questblock-info,
.questblock-info-info-list,
.questblock-info-info-list-2,
.questblock-info-info-list-2-badge,
.questblock-info-controlls-likes,
.questblock-info-controlls-comments,
.questblock-info-controlls-button,
.questblock-pic-achievment,
.questblock-descr-achievment,
.questpending-description,
.questpending-done,
.pregister-socials-icons-i,
.userpanel-user,
.userpanel-user-pic,
.userpanel-user-info,
.userpanel-user-notifications,
.userpanel-info,
.userpanel-info-level,
.userpanel-info-scale,
.interests-button,
.interests-button-selected,
.myrewards-block,
.rewards-catalog-block,
.rewards-catalog-block-people span,
.addach-header-inp-w,
.addach-header-isdifficult,
.addach-description-date-date,
.addach-description-date-icon,
.addach-description-photos-header,
.addach-description-photos-icon,
.addach-description-photos-text,
.addach-extra-range,
.addach-extra-range-text,
.addach-extra-range-range,
.addach-extra-checks,
.addach-tags-title,
.addach-tags-w,
.addach-tags-tags,
.addach-tags-tag,
.addach-controlls-send,
.addach-controlls-isgoal,
.achievement-block-category,
.achievement-block-tags,
.achievement-block-content-nav-serv,
.achievement-block-content-info-date,
.achievement-block-content-info-status,
.achievement-block-content-col,
.achievement-block-content-header-col,
.achievement-block-user-link,
.achievement-block-user-pic,
.achievement-block-user-name,
.achievement-block-user-allachievements,
.achievement-block-rewards-reward,
.achievement-block-images-image,
.achievement-attachedquest-info,
.achievement-attachedquest-rewards,
.newblock-pic,
.newblock-data,
.newblock-data-text,
.newblock-icon,
.newblock-pic-user-to,
.possible-friends-block,
.possible-friends-block-pic,
.friend-list-header-block,
.friend-list-block-pic,
.friend-list-block-pic2,
.friend-list-block-name,
.friend-list-block-goals,
.friend-list-block-achievements,
.friend-list-block-points,
.friend-list-block-level,
.friend-list-block-but,
.profileview-aside,
.profileview-content,
.profileview-allachievements,
.profileview-level,
.editprofile-field-label,
.editprofile-field-input,
.input-check-inline,
.mdlst-button-accent,
.mdlst-button-gray,
.mdlst-button-gray-outline,
.mdlst-button-closer,
.mdlst-switch-state,
.mdlst-switch-text,
.mdlst-pan-icon,
.mdlst-pan-text,
.mdlst-status-icon,
.mdlst-cattag,
.mdlst-lurm i,
.share-widget-title,
.share-widget-content,
.lastachievement-info-data-pic,
.lastachievement-info-data-data,
.notifications-block-user,
.notifications-block-text,
.notificationslist-block-user,
.notificationslist-block-text {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.dib_t,
.container-col,
.comment-block-data-user,
.comment-block-data-user-pic,
.comment-block-data-content,
.form-add-comment-textarea,
.questblock-pic,
.questblock-info,
.questblock-info-info-list,
.questblock-info-info-list-2,
.questblock-info-info-list-2-badge,
.questblock-pic-achievment,
.questblock-descr-achievment,
.questpending-description,
.questpending-done,
.pregister-socials-icons-i,
.userpanel-user,
.userpanel-info,
.myrewards-block,
.rewards-catalog-block,
.addach-description-date-date,
.addach-description-date-icon,
.addach-extra-range,
.addach-extra-checks,
.addach-tags-title,
.addach-tags-w,
.addach-tags-tags,
.addach-controlls-send,
.addach-controlls-isgoal,
.achievement-block-content-nav-serv,
.achievement-block-content-info-date,
.achievement-block-content-info-status,
.achievement-block-content-col,
.achievement-block-content-header-col,
.achievement-block-images-image,
.achievement-attachedquest-info,
.achievement-attachedquest-rewards,
.newblock-pic,
.newblock-data,
.newblock-data-text,
.newblock-pic-user-to,
.possible-friends-block,
.possible-friends-block-pic,
.profileview-aside,
.profileview-content,
.editprofile-field-label,
.editprofile-field-input,
.mdlst-pan-icon,
.mdlst-pan-text,
.mdlst-status-icon,
.lastachievement-info-data-pic,
.lastachievement-info-data-data,
.notifications-block-user,
.notifications-block-text,
.notificationslist-block-user,
.notificationslist-block-text {
  vertical-align: top;
}
.dib_m,
.header-logo,
.form-add-comment-towhome-response-cross,
.questssuggested-quests-quest-user,
.questssuggested-quests-quest-quest,
.questssuggested-quests-quest-quest-pic,
.questssuggested-quests-quest-quest-name,
.questssuggested-quests-quest-controlls,
.questdetail-completeduser-img,
.questdetail-completeduser-text,
.userpanel-user-pic,
.userpanel-user-info,
.userpanel-user-notifications,
.userpanel-info-level,
.userpanel-info-scale,
.addach-description-photos-header,
.addach-description-photos-icon,
.addach-description-photos-text,
.addach-extra-range-text,
.addach-extra-range-range,
.achievement-block-user-link,
.achievement-block-user-pic,
.achievement-block-user-name,
.achievement-block-user-allachievements,
.achievement-block-rewards-reward,
.newblock-icon,
.friend-list-block-pic,
.friend-list-block-pic2,
.profileview-allachievements,
.profileview-level,
.mdlst-switch-state,
.share-widget-title,
.share-widget-content {
  vertical-align: middle;
}
.dib_b {
  vertical-align: bottom;
}
.dib_base,
.dib_icon,
.header-menu,
.header-menu-list-li,
.header-enter,
.footer-copy,
.footer-menu,
.footer-menu-list-li,
.output-controlls-searchbox,
.output-controlls-checkbox,
.chk-img,
.chk-t,
.like-controll-plus,
.like-controll-plus span,
.like-controll-minus,
.like-controll-minus span,
.like-controll-more,
.like-controll-more span,
.comment-controll span,
.questdetail-completeduser,
.questblock-info-controlls-likes,
.questblock-info-controlls-comments,
.questblock-info-controlls-button,
.interests-button,
.interests-button-selected,
.rewards-catalog-block-people span,
.addach-header-inp-w,
.addach-header-isdifficult,
.addach-tags-tag,
.achievement-block-category,
.achievement-block-tags,
.friend-list-header-block,
.friend-list-block-name,
.friend-list-block-goals,
.friend-list-block-achievements,
.friend-list-block-points,
.friend-list-block-level,
.friend-list-block-but,
.input-check-inline,
.mdlst-button-accent,
.mdlst-button-gray,
.mdlst-button-gray-outline,
.mdlst-button-closer,
.mdlst-switch-text,
.mdlst-cattag,
.mdlst-lurm i {
  vertical-align: baseline;
}
.dib_icon,
.mdlst-lurm i {
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}
.inp-border,
.dropdown-select-block,
.searchbox-inp,
.chk-img {
  border: rgba(49,51,62,0.2) 1px solid;
  box-shadow: 0 0 7px rgba(49,51,62,0.1);
  box-sizing: border-box;
  padding: 8px;
}
.simplebox,
.questssuggested,
.questssuggested-quests-quest,
.achievement-block,
.newblock,
.friend-list-block,
.profileview,
.editprofile,
.lastachievement,
.notifications,
.notificationslist {
  box-shadow: 0 0 5px rgba(49,51,62,0.1);
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  line-height: 1em;
}
.simplebox-padding,
.questssuggested-padding,
.questssuggested-quests-quest-padding,
.achievement-block-padding,
.newblock-padding,
.friend-list-block-padding,
.profileview-padding,
.editprofile-padding,
.lastachievement-padding,
.notifications-padding,
.notificationslist-padding,
.questssuggested,
.questssuggested-quests-quest,
.achievement-block-content,
.achievement-attachedquest-block,
.newblock,
.friend-list-block,
.profileview,
.editprofile,
.lastachievement,
.notifications,
.notificationslist {
  padding: 29px 26px;
}
/* 1280 */
/*col dimenstions*/
body,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  color: #8a44ff;
}
.wc {
  width: 1163px;
  margin: 0 auto;
  position: relative;
}
.wc-c {
  text-align: center;
}
#header {
  height: 108px;
  background-image: url("../img/h-bg-2.png");
  background-repeat: repeat-x;
  position: relative;
  z-index: 500;
}
#content {
  position: relative;
  z-index: 250;
}
.content-pic-chooseemail {
  background-image: url("../img/pic-register-ok.png");
  background-repeat: no-repeat;
  background-position: right 70px;
}
#footer {
  height: 166px;
  background-image: url("../img/f-bg-2.png");
  background-repeat: repeat-x;
}
.header-wrapper {
  padding-top: 25px;
  white-space: nowrap;
}
.header-logo {
  white-space: normal;
  width: 272px;
}
.header-menu {
  white-space: normal;
  width: 571px;
}
.header-menu-list {
  margin: 0;
  padding: 0;
}
.header-menu-list-li {
  margin-left: 25px;
}
.header-menu-list-li:first-child {
  margin-left: 0;
}
.header-menu-list-li-a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.header-enter {
  white-space: normal;
}
.header-enter-link {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-right: 40px;
}
.header-enter-link:after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ffe212;
  left: 0;
  bottom: -5px;
}
.header-enter-button {
  background-color: #ff2d0b;
  color: #fff;
}
.footer-wrapper {
  padding-top: 30px;
  white-space: nowrap;
}
.footer-copy {
  width: 40%;
  color: #fff;
}
.footer-menu {
  width: 60%;
}
.footer-menu-list {
  margin: 0;
  padding: 0;
  text-align: right;
}
.footer-menu-list-li {
  margin-left: 50px;
}
.footer-menu-list-li-a {
  color: #fff;
  text-decoration: none;
}
/* container */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(138,68,255,0.06);
}
.container-cols {
  white-space: nowrap;
}
.container-col {
  white-space: normal;
}
.container-col-1 {
  width: 270px;
  margin-right: 50px;
}
.container-col-2 {
  width: 790px;
}
.container-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.container-menu-list-li {
  background-color: #fff;
  border-bottom: 1px solid rgba(49,51,62,0.1);
  position: relative;
}
.container-menu-list-li-active {
  background-color: rgba(255,226,18,0.7);
}
.container-menu-list-li:hover {
  background-color: rgba(138,68,255,0.3);
}
.container-menu-list-link {
  display: block;
  padding: 15px;
  font-size: 18px;
  color: #31333e;
  text-decoration: none;
  -webkit-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
}
.container-menu-list-link:hover {
  background-color: rgba(49,51,62,0.03);
}
.container-menu-list-meta {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.container-menu-list-meta-counter {
  color: #8a44ff;
  padding: 25px 13px;
}
.container-menu-list-meta-add {
  display: block;
  width: 43px;
  height: 43px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: 5px rgba(138,68,255,0.2) solid;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  margin: 6px 11px;
  cursor: pointer;
}
.container-menu-list-meta-add:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.container-menu-list-meta-add-plus {
  position: absolute;
  background-color: #8a44ff;
  color: #fff;
  font-size: 28px;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1;
}
/* . container end */
/* output */
.output H3 {
  color: #8a44ff;
}
.output-header {
  white-space: normal;
  position: relative;
  line-height: 2em;
}
.output-header-meta {
  position: absolute;
  right: 0;
  top: 22px;
  line-height: 1em;
}
.output-controlls-searchbox {
  width: 530px;
}
.output-controlls-checkbox {
  margin-left: 14px;
}
/* . output end */
/* dropdown select */
.dropdown-select {
  position: relative;
}
.dropdown-select-real {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.dropdown-select-block {
  min-width: 246px;
  background-color: #fff;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 33px;
  position: relative;
  overflow: hidden;
}
.dropdown-select-block-text {
  font-size: 14px;
}
.dropdown-select-block-arrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 45px;
  background-color: #8a44ff;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-down.png");
}
/* . dropdown select end*/
/* searchbox */
.searchbox {
  position: relative;
  width: 100%;
}
.searchbox-inp {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  outline: 0;
  width: 100%;
  padding: 12px;
}
.searchbox-icon {
  position: absolute;
  right: 16px;
  top: 10px;
  background-image: url("../img/search-icon.png");
  width: 16px;
  height: 16px;
}
/* . searchbox end*/
/* checkbox */
.chk-w {
  position: relative;
  cursor: pointer;
}
.chk-img {
  background-color: #fff;
  position: relative;
  padding: 11px;
  top: 3px;
  margin-right: 5px;
}
.chk-chk {
  display: none;
}
/* . checkbox end*/
/* like-controll */
.like-controll {
  white-space: nowrap;
}
.like-controll-plus {
  margin-right: 15px;
}
.like-controll-plus span {
  background-image: url("../img/like-thumbsup.png");
  width: 23px;
  height: 24px;
  background-repeat: no-repeat;
  margin-right: 8px;
}
.like-controll-minus span {
  background-image: url("../img/like-thumbsdown.png");
  width: 23px;
  height: 24px;
  background-repeat: no-repeat;
  position: relative;
  top: 12px;
  margin-right: 8px;
}
.like-controll-active span {
  background-position: 0 -24px;
}
.like-controll-more span {
  background-image: url("../img/goals/checkbox.png");
  background-position: 0 -25px;
  width: 26px;
  height: 25px;
  background-repeat: no-repeat;
  position: relative;
  top: 6px;
  margin-left: 10px;
  margin-right: 8px;
}
/* . like-controll end*/
/* comment */
.comment-block {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.comment-block-sub {
  box-sizing: border-box;
  padding-left: 50px;
}
.comment-block-sub .comment-block-data-user-pic {
  width: 40px;
  height: 40px;
}
.comment-block-sub .comment-block-data-user-pic img {
  max-width: 40px;
}
.comment-block-sub .comment-block-data-user-name {
  font-size: 14px;
}
.comment-block-data {
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}
.comment-block-data-user {
  width: 15%;
  margin-right: 10px;
  text-align: center;
}
.comment-block-data-user-pic {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
/*overflow hidden*/
  background-size: cover;
}
.comment-block-data-user-pic img {
  max-width: 60px;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: top;
}
.comment-block-data-user-name {
  width: 100px;
  margin-top: 5px;
}
.comment-block-data-content {
  white-space: normal;
  width: 85%;
}
.comment-block-data-content-date {
  font-size: 12px;
  color: #9a9ba0;
  margin-bottom: 5px;
}
.comment-block-controlls {
  margin-top: 5px;
}
.comment-block-controlls-response {
  color: #8a44ff;
  opacity: 0.6;
  cursor: pointer;
}
.comment-block-controlls-response:hover {
  opacity: 1;
}
.comment-block-answers {
  margin-top: 25px;
  border-top: 1px solid rgba(49,51,62,0.05);
  padding-top: 25px;
}
.comment-controll span {
  position: relative;
  top: 5px;
  margin-right: 8px;
  background-image: url("../img/comments.png");
  width: 26px;
  height: 25px;
  background-repeat: no-repeat;
}
.form-add-comment {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
}
.form-add-comment-towhome {
  display: block;
  padding: 10px;
  position: relative;
  width: 100%;
}
.form-add-comment-towhome-response {
  font-size: 12px;
}
.form-add-comment-towhome-response-cross {
  cursor: pointer;
  color: #ff2d0b;
  font-weight: bold;
  margin-left: 5px;
}
.form-add-comment-textarea {
  width: 100%;
  height: 100px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 10px;
}
.form-add-comment-button-wrapper {
  text-align: right;
  width: 100%;
}
/* . comment end */
/* quest challenge */
.questssuggested {
  margin-bottom: 50px;
}
.questssuggested-title {
  font-size: 24px;
}
.questssuggested-header {
  margin-bottom: 10px;
  cursor: pointer;
}
.questssuggested-quests {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid rgba(49,51,62,0.1);
}
.questssuggested-quests-quest {
  margin-bottom: 40px;
}
.questssuggested-quests-quest-user {
  width: 100px;
  text-align: center;
  margin-right: 60px;
}
.questssuggested-quests-quest-user-pic {
  width: 100%;
}
.questssuggested-quests-quest-user-pic img {
  max-width: 50px;
}
.questssuggested-quests-quest-user-name {
  font-size: 14px;
  margin-top: 10px;
}
.questssuggested-quests-quest-quest {
  width: 320px;
  white-space: nowrap;
  margin-right: 30px;
}
.questssuggested-quests-quest-quest-pic {
  max-width: 75px;
  max-height: 75px;
  overflow: hidden;
  -webkit-border-radius: 37.5px;
  -moz-border-radius: 37.5px;
  border-radius: 37.5px;
  position: relative;
  border: 2px solid #ccc;
}
.questssuggested-quests-quest-quest-name {
  white-space: normal;
  position: relative;
  margin-left: -25px;
  z-index: 10;
}
.questssuggested-quests-quest-quest-name a {
  padding: 10px;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
}
.questssuggested-quests-quest-controlls {
  width: 100px;
}
/* quest challenge end */
/* questdetail */
.questdetail-completeduser {
  white-space: nowrap;
  margin-right: 20px;
  text-decoration: none;
}
.questdetail-completeduser-img {
  width: 25px;
  margin-right: 5px;
}
.questdetail-completeduser-img img {
  max-width: 25px;
}
.questdetail-completeduser-list {
  margin-bottom: 20px;
  margin-top: 10px;
}
/* questdetail end */
/* questblock */
.quests-list {
  margin-top: 50px;
}
.questblock {
  white-space: nowrap;
  box-shadow: 0 0 5px rgba(49,51,62,0.1);
  margin-bottom: 35px;
  position: relative;
  background-color: #fff;
}
.questblock-pic {
  width: 340px;
  min-height: 270px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.questblock-pic-tag {
  background-color: #ffe212;
  position: absolute;
  padding: 3px;
}
.questblock-info {
  box-sizing: border-box;
  padding: 16px 26px 16px 16px;
  width: 450px;
}
.questblock-info-title {
  font-size: 30px;
  font-weight: bold;
  white-space: normal;
}
.questblock-info-meta {
  position: relative;
  height: 25px;
}
.questblock-info-meta-points {
  position: absolute;
  left: 0;
  top: 0;
  color: #ff2d0b;
}
.questblock-info-meta-lurms {
  position: absolute;
  right: 0;
  top: 0;
  color: #ff2d0b;
  font-weight: bold;
}
.questblock-info-info {
  margin-bottom: 10px;
}
.questblock-info-info-list {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}
.questblock-info-info-list-li {
  margin-bottom: 15px;
  margin-left: 20px;
}
.questblock-info-info-list-2 {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}
.questblock-info-info-list-2-badge {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 10px;
}
.questblock-info-controlls {
  white-space: nowrap;
}
.questblock-info-controlls-likes {
  margin-right: 65px;
}
.questblock-info-controlls-comments {
  margin-right: 25px;
}
.questblock-comments {
  background-color: rgba(49,51,62,0.02);
  padding: 25px;
}
.questblock-pic-achievment {
  width: 340px;
  min-height: 270px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.questblock-descr-achievment {
  width: 340px;
  min-height: 270px;
  position: relative;
  margin: 20px;
  line-height: 1.3em;
}
/* questchallenge */
/* .questchallenge end*/
/* questpendingtask */
.questpending {
  background-color: #fff;
  color: #000;
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 0 0 5px rgba(49,51,62,0.1);
  position: relative;
  white-space: normal;
}
.questpending-deadline {
  background-color: #ffe212;
  color: #31333e;
  position: absolute;
  right: 20px;
  top: 0;
  padding: 8px;
}
.questpending-description {
  width: 590px;
  margin-right: 10px;
}
.questpending-title {
  font-size: 24px;
  margin-bottom: 15px;
}
.questpending-done {
  background-color: #ff2d0b;
  color: #fff;
}
/* .questpendingtask end*/
/* registration page */
.pregister {
  position: relative;
  top: -15px;
/* page with postman after email entrance */
}
.pregister-button-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
}
.pregister-socials {
  margin-top: 55px;
  margin-bottom: 50px;
}
.pregister-socials-icons {
  white-space: nowrap;
}
.pregister-socials-icons-i {
  width: 26px;
  height: 27px;
  background-repeat: no-repeat;
  margin-left: 3px;
}
.pregister-socials-icons-i-fb {
  background-image: url("../img/ic-fb.png");
}
.pregister-socials-icons-i-vk {
  background-image: url("../img/ic-vk.png");
}
.pregister-socials-icons-i-tw {
  background-image: url("../img/ic-twitter.png");
}
.pregister-socials-icons-i-gp {
  background-image: url("../img/ic-google.png");
}
.pregister-checkemail {
  margin-top: 50px;
  margin-bottom: 50px;
}
.pregister-chooseemail {
  padding-top: 150px;
}
.pregister-img-interests {
  margin-bottom: -145px;
  margin-left: 835px;
}
.pregister-interests {
  position: relative;
  text-align: center;
}
.pregister-reward {
  margin-top: 35px;
}
/* USER PANEL*/
.userpanel {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(49,51,62,0.5);
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: -20px;
}
.userpanel-user {
  white-space: nowrap;
  width: 540px;
}
.userpanel-user-pic {
  white-space: normal;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 34px;
}
.userpanel-user-info {
  white-space: normal;
}
.userpanel-user-info-name {
  font-size: 24px;
}
.userpanel-user-info-date {
  font-size: 18px;
  color: #a7a7a7;
}
.userpanel-user-notifications {
  background-image: url("../img/important_of.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-left: 80px;
  position: relative;
}
.userpanel-user-notifications.active {
  background-image: url("../img/important.png");
}
.userpanel-info {
  width: 540px;
  margin-top: 15px;
}
.userpanel-info-level {
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  border: 6px rgba(255,45,11,0.5) solid;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  margin-right: 30px;
}
.userpanel-info-level-point {
  position: absolute;
  background-color: #ff2d0b;
  font-size: 32px;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding-top: 9px;
  line-height: 39px;
}
.userpanel-info-level-p1 {
  background-color: #c7c8c4 !important;
}
.userpanel-info-level-p2 {
  background-color: #fec658 !important;
}
.userpanel-info-level-p3 {
  background-color: #f14d3a !important;
}
.userpanel-info-level-p4 {
  background-color: #358156 !important;
}
.userpanel-info-level-p5 {
  background-color: #1f4b76 !important;
}
.userpanel-info-level-p6 {
  background-color: #4f487c !important;
}
.userpanel-info-l1 {
  border: 6px rgba(199,200,196,0.5) solid !important;
}
.userpanel-info-l2 {
  border: 6px rgba(254,198,88,0.5) solid !important;
}
.userpanel-info-l3 {
  border: 6px rgba(241,77,58,0.5) solid !important;
}
.userpanel-info-l4 {
  border: 6px rgba(53,129,86,0.5) solid !important;
}
.userpanel-info-l5 {
  border: 6px rgba(31,75,118,0.5) solid !important;
}
.userpanel-info-l6 {
  border: 6px rgba(79,72,124,0.5) solid !important;
}
.userpanel-info-scale-scale {
  margin: 0 !important;
  width: 100% !important;
}
.userpanel-info-scale p {
  margin: 0;
  margin-top: 10px;
}
/* . USER PANEL END*/
/* comments widgets */
/* comments widgets end */
/* interests-selector */
.interests-selector {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
}
.interests-selector-selected {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
}
.interests-selector-scale {
  margin-top: 15px;
  margin-bottom: 15px;
}
.interests-selector-scale-viewport {
  background-color: rgba(138,68,255,0.25);
  width: 55%;
  margin: 0 auto;
  height: 12px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.interests-selector-scale-track {
  position: absolute;
  left: 0;
  top: 0;
  height: 12px;
  width: 100%;
  margin-left: -100%;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #8a44ff;
}
.interests-button {
  background-color: #ffe212;
  color: #000;
  margin-bottom: 20px;
}
.interests-button-selected {
  background-color: #8a44ff;
  color: #fff;
  margin-bottom: 20px;
}
/* myrewards */
/*list*/
.myrewards-list {
  padding-top: 40px;
  padding-bottom: 40px;
}
.myrewards-block {
  text-decoration: none;
  text-align: center;
  margin-right: 100px;
  width: 190px;
}
.myrewards-block-text {
  color: #8a44ff;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #31333e;
  font-weight: bold;
  font-size: 16px;
}
.myrewards-block-points,
.myrewards-block:nth-child(3) {
  margin-right: 0;
}
.rewards-catalog {
  margin-top: 50px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 0 0 5px rgba(49,51,62,0.1);
}
.rewards-catalog-header {
  position: relative;
  margin-bottom: 45px;
}
.rewards-catalog-header-text {
  font-size: 24px;
}
.rewards-catalog-header-meta {
  position: absolute;
  right: 0;
  top: 0;
}
.rewards-catalog-block {
  margin-right: 25px;
  width: 160px;
  text-align: center;
  margin-bottom: 25px;
}
.rewards-catalog-block-extra {
  background-image: url("../img/reward-crown.png");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
  color: #ff2d0b;
}
.rewards-catalog-block-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.rewards-catalog-block-people {
  color: #8a44ff;
}
.rewards-catalog-block-people span {
  width: 21px;
  height: 22px;
  background-image: url("../img/people.png");
}
.rewards-catalog-block:nth-child(4n) {
  margin-right: 0;
}
/* myrewards */
/* add achievement */
.addach {
  position: relative;
}
.addach-header {
  margin-bottom: 27px;
}
.addach-header-inp {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #8a44ff;
  outline: 0;
  color: #8a44ff;
  font-size: 36px;
  width: 100%;
}
.addach-header-inp-w {
  width: 520px;
}
.addach-header-isdifficult {
  margin-left: 10px;
}
.addach-description {
  position: relative;
  padding-top: 25px;
}
.addach-description-text {
  box-shadow: 0 0 5px rgba(49,51,62,0.1);
}
.addach-description-text-textarea {
  background-color: #fff;
}
.addach-description-text .trumbowyg-box {
  margin-bottom: 0;
}
.addach-description-text .trumbowyg-editor {
  background-color: #fff;
}
.addach-description-date {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  height: 30px;
}
.addach-description-date-date {
  width: 110px !important;
  white-space: normal;
}
.addach-description-date-icon {
  background-image: url("../img/datepicker.png");
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.addach-description-photos {
  background-color: rgba(138,68,255,0.15);
  padding: 22px 15px;
  z-index: 500;
}
.addach-description-photos-header {
  color: #8a44ff;
  font-size: 20px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
  z-index: 1;
}
.addach-description-photos-icon {
  display: inline-block !important;
  margin: 0;
  margin-right: 20px;
}
.addach-extra {
  margin-top: 25px;
  white-space: nowrap;
}
.addach-extra-range {
  width: 60%;
  white-space: nowrap;
}
.addach-extra-range-text {
  font-size: 18px;
  font-weight: bold;
  width: 270px;
  padding-top: 10px;
  white-space: normal;
}
.addach-extra-range-range {
  white-space: normal;
  width: 160px;
  margin-top: 10px;
}
.addach-extra-checks {
  margin-top: 9px;
}
.addach-tags {
  margin-top: 25px;
  white-space: nowrap;
}
.addach-tags-title {
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  padding-top: 10px;
}
.addach-tags-w {
  padding: 10px;
  box-shadow: 0 0 5px rgba(49,51,62,0.1);
  background-color: #fff;
  white-space: normal;
  width: 665px;
}
.addach-tags-inp {
  outline: 0;
  border: 0;
}
.addach-tags-tag {
  margin-bottom: 5px;
}
.addach-controlls {
  margin-top: 25px;
  white-space: nowrap;
}
.addach-controlls-send {
  width: 50%;
  text-align: right;
}
.addach-controlls-isgoal {
  width: 50%;
}
.addach-important {
  margin-top: 25px;
}
/* . add achievement end */
.notificationslist-block-text {
  width: 600px;
}
/* achievement list */
.achievement-list {
  color: inherit;
  position: relative;
}
.achievement-list:after {
  content: " ";
  width: 3px;
  height: 100%;
  left: 47px;
  top: 0;
  position: absolute;
  z-index: -1;
  background-color: rgba(49,51,62,0.05);
}
.achievement-block {
  position: relative;
  margin-bottom: 50px;
/* achievement-block-user */
/* SMALL INVARIATION */
}
.achievement-block-category {
  margin-right: 10px;
}
.achievement-block-tags-tag {
  font-size: 12px;
  color: #9a9ba0;
}
.achievement-block-meta {
  position: absolute;
  left: 0;
  top: -15px;
  left: 20px;
}
.achievement-block-content-title {
  font-size: 24px;
  color: #8a44ff;
  font-weight: bold;
  margin-bottom: 17px;
  line-height: 1.3em;
/*width 640px*/
}
.achievement-block-content-info {
  color: #9a9ba0;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 20px;
}
.achievement-block-content-info-date {
  margin-right: 10px;
}
.achievement-block-content-description {
  line-height: 1.65em;
  margin-bottom: 30px;
  margin-top: 30px;
}
.achievement-block-content-bar {
  width: 212px;
}
.achievement-block-content-cols {
  white-space: nowrap;
}
.achievement-block-content-col {
  white-space: normal;
}
.achievement-block-content-col-1 {
  width: 450px;
  margin-right: 20px;
}
.achievement-block-content-col-2 {
  width: 240px;
}
.achievement-block-content-header-cols {
  white-space: nowrap;
}
.achievement-block-content-header-col {
  white-space: normal;
}
.achievement-block-content-header-col-1 {
  width: 90%;
  margin-right: 20px;
}
.achievement-block-content-header-col-2 {
  width: 50%;
}
.achievement-block-user {
  white-space: nowrap;
  color: #000;
  text-decoration: none;
}
.achievement-block-user-link {
  color: #000;
  text-decoration: none;
  width: 350px;
}
.achievement-block-user-pic {
  width: 75px;
  height: 75px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.achievement-block-user-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}
.achievement-block-comments {
  text-align: right;
  font-size: 14px;
}
.achievement-block-info {
  background-color: rgba(49,51,62,0.02);
  padding: 15px 30px;
  font-size: 14px;
}
.achievement-block-rewards {
  white-space: nowrap;
  margin-bottom: 20px;
}
.achievement-block-images {
  white-space: nowrap;
  margin-bottom: 30px;
}
.achievement-block--small {
  margin-left: 90px;
  opacity: 0.7;
}
.achievement-block--small .achievement-block-content-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.achievement-block--small .achievement-block-content-description {
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.achievement-block--small .achievement-block-content-info {
  margin-bottom: 12px;
}
.achievement-block--small .achievement-block-content-col-1 {
  width: 454px;
}
.achievement-block--small .achievement-block-content-col-2 {
  width: 150px;
}
.achievement-block--small .achievement-block-images {
  text-align: right;
  margin-bottom: 8px;
}
.achievement-block--small .achievement-block-images-picture-small {
  background-size: cover;
  float: right;
  height: 150px;
  width: 150px;
  margin-top: 30px;
}
.achievement-share {
  padding: 25px;
}
.achievement-attachedquest-block {
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  min-height: 20px;
}
.achievement-attachedquest-block-curtain {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.achievement-attachedquest-info {
  position: relative;
  z-index: 20;
  width: 340px;
  margin-right: 20px;
}
.achievement-attachedquest-info-link {
  color: #ffe212;
}
.achievement-attachedquest-rewards {
  position: relative;
  z-index: 21;
  width: 200px;
}
.achievement-attachedquest-rewards-list-link {
  color: #ffe212;
}
/* . achievement list end */
/* NEWS */
/*       height 100px */
.newblock {
  box-shadow: 0 0 5px rgba(49,51,62,0.1);
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  white-space: nowrap;
}
.newblock-pic {
  width: 100px;
  margin-right: 30px;
  line-height: 1.3em;
  text-align: center;
}
.newblock-pic-userlink {
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-size: cover;
}
.newblock-pic img {
  max-width: 100px;
}
.newblock-pic-name {
  margin-bottom: 7px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newblock-data {
  white-space: normal;
  width: 570px;
  line-height: 1.3em;
}
.newblock-data-text {
  width: 430px;
  margin-top: 25px;
}
.newblock-icon {
  margin-left: 30px;
}
.newblock-icon img {
  max-width: 50px;
}
.newblock-pic-user-to {
  width: 100px;
  height: 100px;
  padding-left: 30px;
  text-align: center;
}
.newblock-pic-user-to img {
  max-width: 100px;
}
.newblock-pic-user-to-name {
  margin-bottom: 7px;
  display: block;
}
.not-date {
  color: #9a9ba0;
}
/* NEWS END */
/* possible-frined */
.possible-friends-block {
  margin-bottom: 25px;
  margin-right: 5px;
  width: 189px;
  text-align: center;
}
.possible-friends-block-follow {
  width: 100px;
  margin: 15px auto;
}
.possible-friends-block-follow.followed {
  opacity: 0.7;
}
.possible-friends-block-pic {
  width: 100px;
  margin-right: 30px;
  line-height: 1.3em;
  text-align: center;
}
.possible-friends-block-pic-userlink {
  display: block;
  width: 180px;
  height: 180px;
  overflow: hidden;
  background-size: cover;
}
.possible-friends-block-pic-name {
  margin-bottom: 7px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.friend-list {
  display: block;
}
.friend-list-header {
  margin-bottom: 25px;
}
.friend-list-header-block {
  text-align: center;
  font-size: 14px;
}
.friend-list-header-block-goals {
  width: 100px;
  margin-left: 360px;
}
.friend-list-header-block-achievements {
  width: 100px;
}
.friend-list-header-block-points {
  width: 100px;
}
.friend-list-header-block-level {
  width: 100px;
}
.friend-list-header-block-but {
  width: 100px;
}
.friend-list-block {
  box-shadow: 0 0 5px rgba(49,51,62,0.1);
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
.friend-list-block-pic {
  width: 50px;
  margin-right: 30px;
}
.friend-list-block-pic-img {
  max-width: 50px;
}
.friend-list-block-pic2 {
  margin-right: 30px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-size: cover;
}
.friend-list-block-name {
  font-size: 18px;
  margin-right: 25px;
  width: 162px;
  text-overflow: ellipsis;
}
.friend-list-block-goals {
  color: #9a9ba0;
  width: 100px;
  text-align: center;
}
.friend-list-block-achievements {
  color: #9a9ba0;
  width: 100px;
  text-align: center;
}
.friend-list-block-points {
  color: #9a9ba0;
  width: 100px;
  text-align: center;
}
.friend-list-block-level {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 80px;
}
.friend-list-block-but {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 80px;
}
/* profileview */
.profileview {
  white-space: nowrap;
}
.profileview-aside {
  white-space: normal;
  margin-right: 25px;
  width: 150px;
}
.profileview-aside-img {
  width: 160px;
  height: 190px;
  background-position: center;
  background-size: cover;
}
.profileview-aside-follower {
  margin-top: 15px;
}
.profileview-content {
  white-space: normal;
  position: relative;
  width: 550px;
}
.profileview-content-level {
  margin-left: -12px;
  padding-top: 151px;
}
.profileview-content-view {
  font-size: 20px;
  line-height: 1.4em;
}
.profileview-content-view p {
  margin-top: 20px;
  margin-bottom: 0px;
  color: #a7a7a7;
}
.profileview-content-view a {
  font-size: 16px;
}
.profileview-allachievements {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 20px !important;
}
.profileview-level {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 6px rgba(255,45,11,0.5) solid;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.profileview-level-point {
  position: absolute;
  background-color: #ff2d0b;
  font-size: 22px;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  line-height: 39px;
}
.profileview-h1 {
  color: #31333e;
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.profileview-leaderboard-link {
  font-size: 20px !important;
}
.profileview-mainscale {
  padding-top: 5px;
  padding-bottom: 5px;
}
.profileview-stats {
  line-height: 1.4em;
}
.profileview-stats-interests {
  line-height: 1.3em;
}
.profileview-stats-interests a {
  font-size: 15px;
}
/* profileview end */
/* profileedit */
.editprofile-field {
  white-space: nowrap;
  margin-bottom: 20px;
}
.editprofile-field-label {
  width: 150px;
}
.editprofile-field-input {
  width: 250px;
}
/* profileedit end */
/*system */
.rangeslider {
  background-color: rgba(138,68,255,0.3) !important;
}
.rangeslider__fill {
  background-color: #8a44ff !important;
}
.input-check-inline {
  margin-right: 20px;
}
.c-analytics {
  color: #ff2d0b;
}
.mdlst-h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #ff2d0b;
}
.mdlst-h2t {
  font-size: 32px;
  margin-top: 20px;
  color: #31333e;
}
.mdlst-h3 {
  font-size: 18px;
  color: #31333e;
  font-weight: normal;
}
.mdlst-accent {
  color: #8a44ff;
}
.mdlst-button {
  font-size: 14px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 9px 30px;
  text-decoration: none;
  border: none;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
}
.mdlst-button-disabled {
  background-color: rgba(138,68,255,0.5) !important;
  color: #fff;
  padding: 13px 30px;
}
.mdlst-button-default {
  background-color: #8a44ff;
  color: #fff;
  padding: 13px 30px;
}
.mdlst-button-accent {
  margin-top: 37px;
/*margin-bottom 50px*/
  background-color: #ff2d0b;
  color: #fff;
}
.mdlst-button-accent-main {
  margin: 0px;
  background-color: #ff2d0b;
}
.mdlst-button-gray {
  background-color: #9a9ba0;
  color: #fff;
}
.mdlst-button-gray-outline {
  background-color: transparent;
  border-width: 1px;
  border-color: #9a9ba0;
  border-style: solid;
  color: #9a9ba0;
}
.mdlst-button-closer {
  width: 17px;
  height: 17px;
  background-image: url("../img/closer.png");
  margin-bottom: -4px;
  margin-left: 5px;
}
.mdlst-button-smaller {
  padding: 7px 15px;
}
.mdlst-button-interest {
  margin-bottom: 5px;
}
.mdlst-input {
  border: none;
  outline: 0;
  border-bottom: 2px #8a44ff solid;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
}
.mdlst-input-small {
  padding: 2px 5px;
  font-size: 14px;
  text-align: center;
  border: 2px solid rgba(138,68,255,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.mdlst-hr {
  background-image: url("../img/hr.png");
  width: 75%;
  height: 10px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.mdlst-hr-w {
  width: 100%;
}
.mdlst-switch {
  white-space: nowrap;
  cursor: pointer;
}
.mdlst-switch-state {
  position: relative;
  margin-right: 10px;
}
.mdlst-switch-state-w {
  box-shadow: 0 0 5px rgba(49,51,62,0.1);
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 52px;
  height: 26px;
  background-color: #fff;
  position: relative;
}
.mdlst-switch-state-curtain {
  border: 1px solid rgba(49,51,62,0.05);
  background-color: #8a44ff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.mdlst-switch-state-track {
  position: absolute;
  z-index: 100;
  width: 26px;
  height: 26px;
  background-color: #8a44ff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  left: 0;
  top: 0;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.mdlst-switch-on .mdlst-switch-state-track {
  margin-left: 26px;
}
.mdlst-switch-on .mdlst-switch-state-curtain {
  opacity: 0.3;
}
.mdlst-switch-chk {
  display: none;
}
.mdlst-pan {
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 20px;
}
.mdlst-pan-important {
  background-color: rgba(255,45,11,0.2);
}
.mdlst-pan-important .mdlst-pan-icon {
  background-image: url("../img/important.png");
}
.mdlst-pan-info {
  background-color: rgba(138,68,255,0.2);
}
.mdlst-pan-info .mdlst-pan-icon {
  background-image: url("../img/pan-ok.png");
}
.mdlst-pan-success {
  background-color: rgba(0,128,0,0.2);
}
.mdlst-pan-success .mdlst-pan-icon {
  background-image: url("../img/pan-success.png");
}
.mdlst-pan-icon {
  width: 10%;
  height: 63px;
  background-repeat: no-repeat;
  background-position: center;
}
.mdlst-pan-text {
  white-space: normal;
  width: 90%;
}
.mdlst-progress {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mdlst-progress__agressive .mdlst-progress-viewport {
  background-color: rgba(255,45,11,0.6) !important;
}
.mdlst-progress__smaller .mdlst-progress-viewport {
  height: 6px;
}
.mdlst-progress__smaller .mdlst-progress-track {
  height: 6px;
}
.mdlst-progress-viewport {
  background-color: rgba(138,68,255,0.25);
  width: 100%;
  height: 12px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.mdlst-progress-track {
  position: absolute;
  left: 0;
  top: 0;
  height: 12px;
  width: 100%;
  margin-left: -100%;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #8a44ff;
}
.mdlst-status-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-repeat: no-repeat;
}
.mdlst-status__pending .mdlst-status-icon {
  background-image: url("../img/icon-time.png");
}
.mdlst-cattag {
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
/* todo - dynamic */
}
.mdlst-cattag-1 {
  background-color: #04a9f4;
}
.mdlst-cattag-2 {
  background-color: #79c8a6;
}
.mdlst-cattag-3 {
  background-color: #cfa218;
}
.mdlst-rewardbadge-small {
  width: 50px;
}
.mdlst-rewardbadge-small img {
  max-width: 40px;
}
.mdlst-lurm {
  color: #ff2d0b;
  font-size: 18px;
  font-weight: bold;
}
.mdlst-lurm i {
  vertical-align: middle;
  margin-right: 3px;
  width: 18px;
  height: 24px;
  background-image: url("../img/lurms.png");
}
.share-widget-title {
  margin-right: 20px;
  font-weight: bold;
}
.rewardpopup {
  position: fixed;
  background-color: rgba(49,51,62,0.9);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
.rewardpopup-bg {
  background-image: url("../img/reward_ribbons_back.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 500;
}
.rewardpopup-form {
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../img/reward_bg.png");
  margin-left: -265px;
  margin-top: -295px;
  z-index: 1000;
  width: 530px;
  height: 590px;
}
.rewardpopup-form-text {
  padding: 35px 55px;
  margin-top: 145px;
  font-size: 16px;
}
.rewardpopup-form-btn {
  background-color: #ff2d0b;
  color: #fff;
}
.rewardpopup-form-btn-wrapper {
  text-align: center;
}
.rewardpopup-form-pic {
  text-align: center;
}
.rewardpopup-form-pic-img {
  max-width: 140px;
  margin-bottom: 15px;
}
.plus-controll {
  cursor: pointer;
}
.plus-add {
  color: inherit;
}
.plus-cross {
  border-color: rgba(255,45,11,0.3);
  transform: rotate(45deg);
}
.plus-cross:hover {
  transform: rotate(45deg) scale(1.1);
}
.plus-cross .container-menu-list-meta-add-plus {
  background-color: #ff2d0b;
}
.plus-lightcross {
  border-color: rgba(49,51,62,0.1);
  transform: rotate(45deg);
}
.plus-lightcross:hover {
  transform: rotate(45deg) scale(1.1);
}
.plus-lightcross .container-menu-list-meta-add-plus {
  background-color: rgba(49,51,62,0.2);
}
/* GOALS */
.clear {
  clear: both;
}
.mdlst-h2t-goals {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #31333e;
}
.mygoals-clock {
  float: left;
  margin-top: 9px;
}
.output-header-meta-goals {
  position: absolute;
  right: 540px;
  top: 15px;
  height: 30px;
}
.mygoals-process {
  color: #a7a7a7;
  margin-left: 8px;
  font-size: 14px;
  line-height: 32px;
}
.mygoals-completed {
  color: #008000;
  margin-left: 8px;
  font-size: 14px;
  line-height: 32px;
}
.mygoals-name-div {
  position: relative;
  left: 0px;
  top: 0px;
}
.mygoals-name {
  color: #8a44ff;
  font-size: 24px;
  line-height: 35px;
  float: left;
}
.goal-done-button {
  background-color: #8a44ff;
  color: #fff;
  float: right;
  width: 110px;
}
.mygoals-stats-div {
  position: relative;
  margin-top: 20px;
}
.mygoals-left-wrapper {
  width: 500px;
  float: left;
}
.mygoals-diff {
  font-size: 14px;
  float: left;
  line-height: 18px;
}
.mygoals-stars {
  margin-left: 90px;
}
.mygoals-star {
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 15px;
  float: left;
  margin-left: 1px;
  margin-right: 1px;
}
.star-yellow {
  background-image: url("../img/goals/star-yellow.png");
}
.star-grey {
  background-image: url("../img/goals/star-grey.png");
}
.mygoals-dead {
  font-size: 14px;
  float: left;
  line-height: 18px;
  margin-left: 25px;
}
.color-red {
  color: #f00;
}
.mygoals-lock {
  float: left;
  margin-top: 0px;
  margin-left: 40px;
}
.mygoals-privat {
  margin-left: 10px;
  color: #a7a7a7;
  font-size: 14px;
  float: left;
  line-height: 18px;
}
.mygoals-progress {
  padding-top: 40px;
  width: 320px;
}
.goal-edit-button {
  background-color: #fff;
  color: #8a44ff;
  float: right;
  width: 110px;
  border: thin dashed;
}
.goals-pictures {
  margin-top: 30px;
  margin-bottom: 30px;
}
.goals-picture-big {
  float: left;
  width: 431px;
  height: 285px;
  background-size: cover;
}
.goals-picture-mid {
  width: 238px;
  height: 227px;
  background-size: cover;
  float: right;
}
.goals-picture-small {
  float: left;
  margin-left: 18px;
  width: 18%;
  height: 128px;
  background-size: cover;
}
.goals-picture-small:nth-child(1),
.goals-picture-small:nth-child(2) {
  margin-bottom: 29px;
}
.goals-description {
  color: #31333e;
}
ntainer {
  margin-top: 30px;
/*   height: 100%;*/
}
.tabs {
  width: 100%;
  min-height: 600px;
}
.tabs-ul,
.tabs-li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs,
.tabs input[type="radio"]:checked + label {
  position: relative;
}
.tabs-li,
.tabs input[type="radio"] + label {
  display: inline-block;
}
.tabs-li > div,
.tabs input[type="radio"] {
  position: absolute;
}
.tabs {
  font-size: 18px;
}
.tabs-li {
  vertical-align: top;
}
.tabs-li:first-child {
  margin-left: 8px;
}
.tabs-li > div {
  top: 33px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  overflow: auto;
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tabs input[type="radio"] + label {
  margin: 0 0px 0 0;
  padding: 0 18px;
  line-height: 32px;
  border-bottom: solid 2px #cecfd3;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.tabs input[type="radio"]:checked + label {
  z-index: 1;
  background: #fff;
  border-bottom: solid 2px #8a44ff;
  cursor: default;
  color: #8a44ff;
}
.tabs input[type="radio"] {
  opacity: 0;
}
.tabs input[type="radio"] ~ div {
  display: none;
}
.tabs input[type="radio"]:checked:not(:disabled) ~ div {
  display: block;
}
.tabs input[type="radio"]:disabled + label {
  opacity: 0.5;
  cursor: no-drop;
}
.goal-subtask {
  margin: 0;
  padding: 0;
  list-style: none;
}
.subtask-container {
  margin-top: 20px;
}
.subtask-top {
  height: 43px;
}
.subtask-top input {
  color: #8a44ff;
/*	width:20px;*/
  float: left;
}
.subtask-top span {
  float: left;
}
.subtask-top-left {
  margin-top: 10px;
  float: left;
  margin-right: 30px;
}
.subtask-top-name {
  width: 380px;
  font-size: 14px;
}
.subtask-done .subtask-top-name {
  text-decoration: line-through;
}
.subtask-top span.subtask-top-dead {
  width: 70px;
  margin-left: 46px;
}
.subtask-bottom {
  font-style: italic;
  margin-left: 20px;
  font-size: 14px;
  color: #31333e;
}
.subtask-progress {
  width: 70px;
  float: left;
  margin-top: 7px;
  margin-left: 15px;
}
.subtask-progress-height {
  height: 6px;
}
.margin-0 {
  margin: 0;
}
.subtask-points {
  margin-left: 40px;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}
.subtask-points li {
  padding-top: 10px;
}
.input-check {
  display: inline-block;
  *display: inline;
/* inline-block ie7 fix */
  *zoom: 1;
/*  vertical-align: top;
  position: relative;   */
  cursor: pointer;
  float: left;
}
.input-check input {
  width: 26px;
  height: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}
.input-check label {
  font-size: 14px;
  line-height: 22px;
  display: block;
  padding-left: 40px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.input-check label:before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 26px;
  height: 25px;
  margin-top: -11px;
  background: rgba(0,0,0,0) url("../img/goals/checkbox.png") no-repeat;
  z-index: 5;
  content: '';
}
.input-check input:checked + label:before {
  background-position: 0 -25px;
}
.marginTop30 {
  margin-top: 30px;
}
.marginBottom30 {
  margin-bottom: 30px;
}
.withButton {
  float: left;
}
.withHeader {
  margin-top: 27px;
  margin-right: 70px;
  width: 155px;
  padding: 12px 30px;
}
.withProcess {
  float: left;
  padding-top: 20px;
}
.processWprogress {
  height: 30px;
  position: absolute;
  left: 363px;
  top: 29px;
}
#mygoals-name {
  color: #8a44ff;
  font-size: 24px;
  line-height: 35px;
  float: left;
}
.withNoButton {
  margin-top: 10px;
}
.listGoals-left {
  float: left;
  min-height: 227px;
  width: 470px;
  margin-right: 30px;
}
.withList {
  float: none;
}
.goalDescr {
  margin-top: 80px;
}
.showSubtasts {
  color: #a7a7a7;
  text-decoration: underline;
  cursor: pointer;
}
.goal-content {
  margin-bottom: 30px;
}
.mygoals-block {
  text-decoration: none;
}
/* goal comments */
.goal-comments-block {
  box-sizing: border-box;
  padding: 25px;
}
.goal-addsubtask-button {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  zoom: 1;
}
.goal-addsubtask-text {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  zoom: 1;
}
/* GOALS END*/
.text-align-center {
  text-align: center;
}
.page-h1 {
  font-size: 32px;
  text-transform: uppercase;
  color: #31333e;
  text-align: center;
}
.page-h2 {
  font-size: 19px;
  text-transform: uppercase;
  color: #31333e;
  text-align: center;
}
.page-h3 {
  font-size: 20px;
  color: #8a44ff;
  font-weight: normal;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}
.page-accent {
  color: #8a44ff;
}
.page-p {
  font-size: 18px;
  margin: 0;
}
/* lastachievement */
.lastachievement {
  position: relative;
  display: block;
  min-height: 250px;
  margin-bottom: 30px;
  text-decoration: none;
  background-position: center;
}
.lastachievement-wrapper {
  width: 65%;
  margin: 0 auto;
}
.lastachievement:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background-color: rgba(0,0,0,0.25);
  z-index: 10;
}
.lastachievement-info {
  position: absolute;
  left: 150px;
  width: 400px;
  top: 50px;
  z-index: 20;
  color: #fff;
}
.lastachievement-info-data {
  white-space: nowrap;
}
.lastachievement-info-data-pic {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
}
.lastachievement-info-data-pic img {
  max-width: 100px;
}
.lastachievement-info-data-name {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 20px;
}
.lastachievement-info-data-text {
  font-size: 24px;
  line-height: 24px;
  text-overflow: ellipsis;
}
.lastachievement-info-data-data {
  white-space: normal;
  padding-left: 20px;
}
/* lastachievement end */
.notifications {
  position: absolute;
  z-index: 500;
  width: 300px;
  margin-left: -150px;
  background-color: #fff;
  border: 1px solid #eee;
  top: 100%;
  white-space: normal;
}
.notifications-block {
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 15px;
  white-space: nowrap;
}
.notifications-block__new {
  background-color: rgba(138,68,255,0.06);
}
.notifications-block-user {
  width: 50px;
  margin-right: 5px;
}
.notifications-block-user-pic {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}
.notifications-block-text {
  font-size: 12px;
  width: 180px;
  white-space: normal;
  line-height: 1.35em;
}
.notificationslist {
  width: 100%;
  background-color: #fff;
  border: 1px solid #eee;
  white-space: normal;
}
.notificationslist-block {
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 15px;
  white-space: nowrap;
}
.notificationslist-block__new {
  background-color: rgba(138,68,255,0.06);
}
.notificationslist-block-user {
  width: 60px;
  margin-right: 15px;
}
.notificationslist-block-user-pic {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
}
.notificationslist-block-text {
  font-size: 14px;
  white-space: normal;
  line-height: 1.35em;
}
#nav-serv,
#nav-serv li ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#nav-serv > li {
  float: left;
  width: 40px;
  height: 21px;
  background: url("../img/3points.gif") no-repeat;
  background-position: center;
}
#nav-serv li ul {
  display: none;
  position: absolute;
  z-index: 100;
  width: 145px;
/*left:592px;*/
  margin-top: 23px !important;
  margin-left: -106px;
}
#nav-serv li:hover ul {
  display: block;
}
#nav-serv > li {
  background-color: #f5f5f5;
  text-align: center;
  padding: 3px 0px 3px 0px;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
#nav-serv > li:hover {
  background-color: #e8e8e8;
}
#nav-serv > li > a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
#nav-serv li ul {
  margin-top: 0px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}
#nav-serv li ul li {
  text-align: left;
  padding: 5px 5px 5px 15px;
}
#nav-serv li ul li a {
  color: #000;
  text-decoration: none;
}
#nav-serv li ul li a:hover {
  color: #553ccf;
  text-decoration: none;
}
