@import "hint.min.css"
@import "dropzone.css"
FRoboto = "Roboto", sans-serif
C_Red = #ff2d0b
C_Blue = #04a9f4
C_Purple = #8a44ff
C_Yell = #ffe212
/*C_Purple = #6534ac*/

/*CMain = CBlue*/
CMain = C_Purple
CAccent = C_Red
CSub = C_Yell
CBlack = #31333e
CGray = #a7a7a7
CGrayText = #9a9ba0

WhiteBelt = #c7c8c4
YellowBelt = #fec658
OrangeBelt = #f14d3a
GreenBelt = #358156
BlueBelt = #1f4b76
PurpleBelt = #4f487c
RedBelt = #ca202c
BrownBelt = #452a14
BlackBelt = #000402


BoxShadow = 0 0 5px rgba(CBlack, 0.1);
.js-hidden
    display none
border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n
    
text-shadow(n)
    -webkit-text-shadow n
    -moz-text-shadow n
    -ms-text-shadow n
    -o-text-shadow n
    text-shadow n

.dib
    display inline-block
    *display inline 
    zoom 1
.dib_t
    @extends .dib
    vertical-align top
.dib_m
    @extends .dib
    vertical-align middle
.dib_b
    @extends .dib
    vertical-align bottom
.dib_base
    @extends .dib
    vertical-align baseline
.dib_icon 
    @extends .dib_base
    background-repeat no-repeat
    background-position center
    width 16px
    height 16px
.inp-border
    border rgba(CBlack, 0.2) 1px solid   
    box-shadow 0 0 7px rgba(CBlack, 0.1)
    box-sizing border-box
    padding 8px
.simplebox    
    box-shadow BoxShadow
    box-sizing border-box
    border-radius 4px
    background-color white
    line-height 1em
    &-padding 
        padding 29px 26px 
/* 1280 */
/*col dimenstions*/
body, html
    padding 0
    margin 0
    font-family FRoboto
a 
    color CMain    
.wc
    width 1163px
    margin 0 auto
    position relative
    &-c 
        text-align center

#header
    height 108px
    background-image url(../img/h-bg-2.png)
    background-repeat repeat-x
    position relative
    z-index 500
#content 
    position relative
    z-index 250
.content 
    &-pic
        &-chooseemail
            background-image url(../img/pic-register-ok.png)    
            background-repeat no-repeat
            background-position right 70px

#footer 
    height 166px
    background-image url(../img/f-bg-2.png)
    background-repeat repeat-x
    
.header
    &-wrapper
        padding-top 25px
        white-space nowrap
    &-logo
        @extends .dib_m
        white-space normal
        width 272px
    &-menu
        @extends .dib_base
        white-space normal
        width 571px
        &-list 
            margin 0
            padding 0
            &-li 
                @extends .dib_base
                margin-left 25px
                &:first-child 
                    margin-left 0
                &-a 
                    text-decoration none 
                    color white 
                    font-family FRoboto
    &-enter
        @extends .dib_base
        white-space normal
        &-link 
            font-family FRoboto
            color white 
            text-decoration none 
            position relative
            margin-right 40px
            &:after 
                content " "
                position absolute 
                height 2px 
                width 100%
                background-color CSub
                left 0
                bottom -5px
        &-button 
            background-color CAccent 
            color white
            
.footer 
    &-wrapper
        padding-top 30px
        white-space nowrap
    &-copy 
        @extends .dib_base
        width 40%
        color white
    &-menu 
        @extends .dib_base
        width 60%
        &-list 
            margin 0
            padding 0
            text-align right 
            &-li 
                @extends .dib_base
                margin-left 50px
                &-a 
                    color white
                    text-decoration none
        

/* container */
.container
    padding-top 20px 
    padding-bottom 20px
    background-color rgba(CMain, 0.06)
    &-cols
        white-space nowrap
    &-col 
        @extends .dib_t
        white-space normal
        &-1
            width 270px
            margin-right 50px
        &-2
            width 790px
    &-menu 
        &-list 
            margin 0
            padding 0
            list-style none
            border-radius 8px 
            overflow hidden
            &-li
                background-color white
                border-bottom 1px solid rgba(CBlack, 0.1)
                position relative
                &-active 
                    background-color rgba(CSub, 0.7)
                &:hover 
                    background-color rgba(CMain, 0.3)
            &-link 
                display block
                padding 15px 
                font-size 18px 
                color CBlack
                text-decoration none
                -webkit-transition all 250ms linear 
                -o-transition all 250ms linear 
                transition all 250ms linear 
                &:hover 
                    background-color rgba(CBlack, 0.03)
            &-meta 
                position absolute
                right 0
                top 0 
                height 100%
                &-counter 
                    color CMain
                    padding 25px 13px
                &-add 
                    display block 
                    width 43px
                    height 43px
                    box-sizing border-box
                    overflow hidden
                    position relative
                    border 5px rgba(CMain, 0.2) solid
                    border-radius 22px
                    margin 6px 11px
                    cursor pointer
                    &:hover
                        -webkit-transform scale(1.1)
                        -ms-transform scale(1.1)
                        -o-transform scale(1.1)
                        transform scale(1.1)
                    &-plus 
                        position absolute
                        background-color CMain
                        color white 
                        font-size 28px
                        width 100%
                        height 100%
                        text-align center
                        line-height 1
                    
                
/* . container end */


/* output */
.output
    & H3
        color #8a44ff
    &-header 
        white-space nowrap
        position relative
        &-meta
            position absolute
            right 0
            top 22px
    &-controlls 
        &-searchbox
            @extends .dib_base
            width 530px
        &-checkbox
            @extends .dib_base
            margin-left 14px
        
/* . output end */

/* dropdown select */
.dropdown-select
    position relative
    &-real
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        opacity 0
    &-block 
        @extends .inp-border
        min-width 246px
        background-color white
        text-align left

        border-radius 5px
        min-height 33px
        position relative
        overflow hidden
        &-text 
            font-size 14px
        &-arrow
            position absolute
            right  0
            top 0
            height 100%
            width 45px
            background-color CMain
            background-position center
            background-repeat no-repeat
            background-image url(../img/arrow-down.png)
            
/* . dropdown select end*/

/* searchbox */
.searchbox
    position relative
    width 100%
    &-inp
        @extends .inp-border
        border-radius 20px
        outline 0
        width 100%
        padding 12px
    &-icon 
        position absolute
        right 16px
        top 10px
        background-image url(../img/search-icon.png)
        width 16px
        height 16px
/* . searchbox end*/

/* checkbox */
.chk
    &-w
        position relative
        cursor pointer
    &-img 
        @extends .inp-border
        @extends .dib_base
        background-color white
        position relative
        padding 11px
        top 3px
        margin-right 5px
    &-t 
        @extends .dib_base
    &-chk 
        display none
/* . checkbox end*/

/* like-controll */
.like-controll
    white-space nowrap
    &-plus 
        @extends .dib_base
        margin-right 15px
        & span 
            @extends .dib_base
            background-image url(../img/like-thumbsup.png)
            width 23px
            height 24px
            background-repeat no-repeat
            margin-right 8px
    &-minus 
        @extends .dib_base
        & span 
            @extends .dib_base
            background-image url(../img/like-thumbsdown.png)
            width 23px
            height 24px
            background-repeat no-repeat
            position relative 
            top 12px
            margin-right 8px
    &-active 
        & span 
            background-position 0  -24px
    &-more
        @extends .dib_base
        & span 
            @extends .dib_base
            background-image url(../img/goals/checkbox.png)
            background-position: 0 -25px
            width 26px
            height 25px
            background-repeat no-repeat
            position relative 
            top 6px
            margin-left 10px
            margin-right 8px
       
/* . like-controll end*/

/* comment */

.comment-block
    position relative
    width 100%
    margin-bottom 30px
    &-sub 
        box-sizing border-box 
        padding-left 50px
        & .comment-block-data-user-pic
            width 40px 
            height 40px
            & img 
                max-width 40px 
        & .comment-block-data-user-name
            font-size 14px
    &-data
        width 100%
        box-sizing border-box
        white-space nowrap
        &-user 
            width 15%
            @extends .dib_t
            margin-right 10px
            text-align center
            
            &-pic 
                @extends .dib_t
                width 60px 
                height 60px 
                border-radius 30px 
                overflow hidden
                & img 
                    max-width 60px
                    width 60px 
                    height 60px
                    background-size cover
                    background-position top
            &-name 
                width 100px 
                margin-top 5px
        &-content
            @extends .dib_t
            white-space normal
            width 85%
            &-date 
                font-size 12px 
                color CGrayText
                margin-bottom 5px
    &-controlls
        margin-top 5px
        &-response 
            color CMain
            opacity 0.6
            cursor pointer
            &:hover 
                opacity 1
            
            
    &-answers 
        margin-top 25px
        border-top 1px solid rgba(CBlack, 0.05)
        padding-top 25px

.comment-controll
    & span 
        @extends .dib_base
        position relative 
        top 5px
        margin-right 8px
        background-image url(../img/comments.png)
        width 26px
        height 25px
        background-repeat no-repeat
        
.form-add-comment
    width 100%
    margin-top 5px           
    margin-bottom 25px
    &-towhome
        display block 
        padding 10px 
        position relative
        width 100%
        &-response
            font-size 12px 
            &-cross 

                cursor pointer 
                color CAccent
                font-weight bold
                @extends .dib_m
                margin-left 5px
                    
    &-textarea
        @extends .dib_t
        width 100%
        height 100px    
        font-size 12px 
        box-sizing border-box
        padding 20px 
        margin-bottom 10px
    &-button 
        &-wrapper 
            text-align right
            width 100%
/* . comment end */


/* quest challenge */
.questssuggested
    @extends .simplebox
    @extends .simplebox-padding
    margin-bottom 50px
    &-title 
        font-size 24px 
    &-header 
        margin-bottom 10px
        cursor pointer
    &-quests 
        margin-top 25px
        padding-top 25px 
        border-top 1px solid rgba(CBlack, 0.1)
        &-quest 
            @extends .simplebox
            @extends .simplebox-padding
            margin-bottom 40px
            &-user 
                width 100px
                text-align center
                margin-right 60px
                @extends .dib_m
                &-pic 
                    width 100%
                    & img 
                        max-width 50px 
                &-name 
                    font-size 14px 
                    margin-top 10px
                    
            &-quest 
                @extends .dib_m
                width 320px
                white-space nowrap
                margin-right 30px
                &-pic 
                    @extends .dib_m
                    max-width 75px 
                    max-height 75px 
                    overflow hidden 
                    border-radius 37.5px
                    position relative
                    border 2px solid #CCC
                &-name 
                    @extends .dib_m
                    white-space normal
                    position relative
                    margin-left -25px
                    z-index 10
                    
                    & a 
                        padding 10px 
                        background-color white
                        border-radius 20px
                        display inline-block
            &-controlls 
                @extends .dib_m
                width 100px
/* quest challenge end */

/* questdetail */
.questdetail
    &-completeduser
        @extends .dib_base
        white-space nowrap
        margin-right 20px 
        text-decoration none 
        &-img 
            @extends .dib_m
            width 25px 
            margin-right 5px
            & img 
                max-width 25px 
        &-text 
            @extends .dib_m
        &-list 
            margin-bottom 20px 
            margin-top 10px
/* questdetail end */

/* questblock */
.quests-list 
    margin-top 50px
.questblock
    white-space nowrap
    box-shadow BoxShadow
    margin-bottom 35px
    position relative
    background-color white
    &-pic 
        @extends .dib_t
        width 340px
        min-height 270px
        background-position center
        background-size cover
        position relative
        &-tag 
            background-color CSub
            position absolute
            padding 3px 
            
    &-info 
        @extends .dib_t
        box-sizing border-box
        padding 16px 26px 16px 16px
        width 450px
        &-title 
            font-size 30px
            font-weight bold
            white-space normal
            
            
        &-meta 
            position relative
            height 25px 
            &-points 
                position absolute
                left 0
                top 0
                color CAccent
                
            &-lurms
                position absolute
                right 0
                top 0
                color CAccent
                font-weight bold
        &-info 
            margin-bottom 10px
            &-list 
                @extends .dib_t
                margin-left 0
                padding-left 0  
                margin-bottom 0
                &-li 
                    margin-bottom 15px
                    margin-left 20px
            &-list-2
                @extends .dib_t
                list-style none
                margin-bottom 0
                margin-left 0
            &-list-2-badge
                @extends .dib_t
                list-style none
                margin-bottom 0
                margin-left 0
                margin-top 10px
        &-controlls
            white-space nowrap
            &-likes 
                @extends .dib_base
                margin-right 65px
            &-comments 
                @extends .dib_base
                margin-right 25px
            &-button 
                @extends .dib_base
                
    &-comments 
        background-color rgba(CBlack, 0.02)
        padding 25px

.questblock-pic-achievment
        @extends .dib_t
        width 340px
        min-height 270px
        background-position center
        background-size cover
        position relative

.questblock-descr-achievment
        @extends .dib_t
        width 340px
        min-height 270px
        position relative
        margin 20px
        line-height 1.3em

/* questchallenge */
/* .questchallenge end*/


/* questpendingtask */

.questpending 
    background-color white
    color black
    padding 15px
    margin-bottom 25px
    box-shadow BoxShadow
    position relative
    white-space normal
    &-deadline 
        background-color CSub
        color CBlack
        position absolute
        right 20px
        top 0
        padding 8px
    &-description
        @extends .dib_t
        width 590px 
        margin-right 10px
    &-title 
        font-size 24px
        margin-bottom 15px
    &-done 
        background-color CAccent
        color white
        @extends .dib_t
        
        
/* .questpendingtask end*/


/* registration page */
.pregister
    position relative 
    top -15px
    &-button-wrapper
        margin-top 25px
        margin-bottom 25px
    &-socials 
        margin-top 55px 
        margin-bottom 50px
        &-icons 
            white-space nowrap
            &-i 
                @extends .dib_t
                width 26px
                height 27px
                background-repeat no-repeat
                margin-left 3px
                &-fb 
                    background-image url(../img/ic-fb.png)
                &-vk 
                    background-image url(../img/ic-vk.png)
                &-tw 
                    background-image url(../img/ic-twitter.png)
                &-gp 
                    background-image url(../img/ic-google.png)

    /* page with postman after email entrance */                    
    &-checkemail
        margin-top 50px
        margin-bottom 50px
    &-chooseemail
        padding-top 150px
    &-img 
        &-interests
            margin-bottom -145px
            margin-left 835px
        
    &-interests
        position relative
        text-align center
    &-reward
        margin-top 35px
    
/* USER PANEL*/
.userpanel
    background-color white 
    box-shadow 0 0 3px rgba(CBlack, 0.5)

    padding-top 20px
    padding-bottom 15px
    margin-top -20px
    &-user
        @extends .dib_t
        white-space nowrap
        width 540px
        &-pic 
            @extends .dib_m
            white-space normal
            width 100px 
            height 100px
            //background-position center
            background-size cover 
            background-repeat no-repeat
            margin-right 34px
        &-info 
            @extends .dib_m
            white-space normal
            &-name 
                font-size 24px 
            &-date 
                font-size 18px 
                color CGray
        &-notifications
            @extends .dib_m
            background-image url("../img/important_of.png")
            background-repeat no-repeat
            background-position center
            width 50px
            height 50px
            margin-left 80px
            position relative
            &.active 
                background-image url("../img/important.png")
            
    &-info 
        @extends .dib_t
        width 540px
        margin-top 15px
        &-level
            @extends .dib_m
            width 70px
            height 70px
            box-sizing border-box
            border 6px rgba(CAccent, 0.5) solid
            position relative
            overflow hidden
            border-radius 35px
            margin-right 30px
            &-point 
                position absolute
                background-color CAccent
                font-size 32px 
                color white 
                text-align center
                width 100%
                height 100%
                font-weight bold
                padding-top 9px
                line-height	39px
            &-p1
                background-color WhiteBelt !important
            &-p2
                background-color YellowBelt !important
            &-p3
                background-color OrangeBelt !important
            &-p4
                background-color GreenBelt !important
            &-p5
                background-color BlueBelt !important
            &-p6
                background-color PurpleBelt !important
        &-l1
            border 6px rgba(WhiteBelt, 0.5) solid !important
        &-l2
            border 6px rgba(YellowBelt, 0.5) solid !important
        &-l3
            border 6px rgba(OrangeBelt, 0.5) solid !important
        &-l4
            border 6px rgba(GreenBelt, 0.5) solid !important
        &-l5
            border 6px rgba(BlueBelt, 0.5) solid !important
        &-l6
            border 6px rgba(PurpleBelt, 0.5) solid !important

        &-scale
            @extends .dib_m
            &-scale 
                margin 0 !important
                width 100% !important
            & p 
                margin 0
                margin-top 10px
                
/* . USER PANEL END*/

/* comments widgets */
/* comments widgets end */



/* interests-selector */
.interests
    &-selector 
        width 75%
        margin 0 auto
        margin-top 50px
        &-selected
            width 75%
            margin 0 auto
            margin-top 50px   
        &-scale 
            margin-top 15px 
            margin-bottom 15px
            &-viewport 
                background-color rgba(CMain, 0.25)
                width 55%
                margin 0 auto 
                height 12px
                position relative
                border-radius(10px)
                overflow hidden
            &-track
                position absolute
                left 0 
                top 0 
                height 12px 
                width 100%
                margin-left -100%
                -webkit-transition all 400ms linear
                -o-transition all 400ms linear
                transition all 400ms linear
                border-radius(10px)
                background-color CMain
                    
                                 
            
    &-button
        @extends .dib_base
        background-color CSub
        color black
        margin-bottom 20px
        &-selected 
            @extends .dib_base 
            background-color CMain
            color white 
            margin-bottom 20px 


/* myrewards */
/*list*/
.myrewards-list 
    padding-top 40px
    padding-bottom 40px
.myrewards-block
    @extends .dib_t 
    text-decoration none 
    text-align center
    margin-right 100px
    width 190px    
    &-text 
        color CMain
        margin-top 10px
        margin-bottom 10px
        color CBlack
        font-weight bold 
        font-size 16px

    &-points 
    &:nth-child(3)
        margin-right 0
.rewards
    &-catalog 
        margin-top 50px
        background-color white 
        box-sizing border-box 
        padding 30px 
        box-shadow 0 0 5px rgba(CBlack, 0.1)
        
        &-header 
            position relative
            margin-bottom 45px
            &-text 
                font-size 24px 
            &-meta 
                position absolute 
                right 0
                top 0
                
        &-block 
            @extends .dib_t
            margin-right 25px
            width 160px
            text-align center
            margin-bottom 25px
            &-extra 
                background-image url(../img/reward-crown.png)
                background-repeat no-repeat
                background-position center
                font-size 10px 
                margin-bottom 10px
                margin-top 10px
                padding-top 10px
                padding-bottom 4px
                color CAccent
            &-text 
                font-size 16px 
                font-weight bold
                margin-top 10px
                margin-bottom 5px
            &-people 
                color CMain
                & span 
                    @extends .dib_base 
                    width 21px
                    height 22px
                    background-image url(../img/people.png)
                    
            &:nth-child(4n)
                margin-right 0
/* myrewards */

/* add achievement */
.addach
    position relative
    &-header 
        margin-bottom 27px
        &-inp
            background-color transparent 
            border none 
            border-bottom 2px solid CMain
            outline 0
            color CMain
            font-size 36px
            width 100%
            &-w 
                @extends .dib_base
                width 520px
        &-isdifficult
            margin-left 10px
            @extends .dib_base
    &-description
        position relative
        padding-top 25px
        &-text 
            box-shadow BoxShadow
            &-textarea
                background-color white
            & .trumbowyg-box
                margin-bottom 0
            & .trumbowyg-editor
                background-color white
        &-date
            position absolute
            top 0 
            right 0
            white-space nowrap 
            height 30px
            &-date 
                width 110px !important
                @extends .dib_t
                white-space normal
            &-icon 
                background-image url(../img/datepicker.png)
                width 20px
                height 20px
                @extends .dib_t
                margin-right 10px
        &-photos 
            background-color rgba(CMain, 0.15)
            padding 22px 15px
            z-index 500
            &-header
                @extends .dib_m
                color CMain
                font-size 20px
                position relative
                padding-top 20px
                padding-bottom 10px
                z-index 1
            &-icon 
                @extends .dib_m
                display inline-block !important
                margin 0
                margin-right 20px
            &-text 
                @extends .dib_m
                
    &-extra 
        margin-top 25px
        white-space nowrap
        &-range 
            width 60%
            @extends .dib_t
            white-space nowrap
            &-text 
                @extends .dib_m
                font-size 18px 
                font-weight bold 
                width 270px
                padding-top 10px
                white-space normal
            &-range 
                @extends .dib_m
                white-space normal
                width 160px
                margin-top 10px
        &-checks
            @extends .dib_t
            margin-top 9px
               
       
    &-tags 
        margin-top 25px
        white-space nowrap
        &-title 
            @extends .dib_t
            font-size 18px 
            font-weight bold 
            width 100px
            padding-top 10px
        &-w 
            @extends .dib_t
            padding 10px 
            box-shadow BoxShadow
            background-color white 
            white-space normal
            width 665px
        &-inp 
            outline 0 
            border 0
        &-tags 
            @extends .dib_t 
        &-tag 
            @extends .dib_base
            margin-bottom 5px
    &-controlls 
        margin-top 25px
        white-space nowrap
        &-send 
            @extends .dib_t
            width 50%
            text-align right
        &-isgoal 
            @extends .dib_t
            width 50%
    &-important
        margin-top 25px
                
/* . add achievement end */
.notificationslist-block-text
    width 600px
 
/* achievement list */
.achievement
    &-list 
        color inherit 
        position relative
        &:after
            content " "
            width 3px
            height 100%
            left 47px
            top 0
            position absolute
            z-index -1
            background-color rgba(CBlack, 0.05)
        
    &-block 
        @extends .simplebox
        position relative
        margin-bottom 50px
        
        &-category 
            @extends .dib_base
            margin-right 10px
        &-tags 
            @extends .dib_base
            &-tag
                font-size 12px
                color CGrayText
        &-meta 
            position absolute
            left 0
            top -15px
            left 20px
        &-content 
            @extends .simplebox-padding 
            &-title 
                font-size 24px 
                color CMain
                font-weight bold
                margin-bottom 17px
                line-height 1.3em
                /*width 640px*/
            &-nav-serv
                @extends .dib_t
                /*float right*/
            &-info
                color CGrayText
                font-size 12px
                white-space nowrap
                margin-bottom 20px
                &-date 
                    @extends .dib_t
                    margin-right 10px
                &-status 
                    @extends .dib_t
            &-description
                line-height 1.65em
                margin-bottom 30px
                margin-top 30px
            &-bar 
                width 212px
            &-cols 
                white-space nowrap
            &-col 
                @extends .dib_t
                white-space normal
                &-1 
                    width 450px
                    margin-right 20px
                &-2
                    width 240px
            &-header
                &-cols 
                    white-space nowrap
                &-col 
                    @extends .dib_t
                    white-space normal
                    &-1 
                       width 90%
                       margin-right 20px
                    &-2
                       width 50%
        
        /* achievement-block-user */
        &-user 
            white-space nowrap
            color black 
            text-decoration none
            &-link 
                @extends .dib_m
                color black
                text-decoration none 
                width 350px 
            &-pic 
                @extends .dib_m
                width 75px 
                height 75px 
                border-radius 40px 
                overflow hidden
                background-repeat no-repeat
                background-position center
                background-size cover
            &-name 
                @extends .dib_m
                font-size 18px
                font-weight bold 
                margin-left 20px
            &-allachievements
                @extends .dib_m
            
            
                    
        &-comments 
            text-align right
            font-size 14px
                    
        &-info 
            background-color rgba(CBlack, 0.02)
            padding 15px 30px 
            font-size 14px
        &-rewards
            white-space nowrap
            margin-bottom 20px
            &-reward 
                @extends .dib_m
        &-images 
            white-space nowrap
            margin-bottom 30px
            &-image 
                @extends .dib_t
                

        /* SMALL INVARIATION */
        &--small 
            margin-left 90px
            opacity 0.7
            & .achievement-block-content-title
                font-size 18px 
                margin-bottom 5px
            & .achievement-block-content-description
                font-size 14px
                margin-bottom 30px
                margin-top 30px
            & .achievement-block-content-info
                margin-bottom 12px
            & .achievement-block-content-col-1
                width 454px
            & .achievement-block-content-col-2
                width 150px
            & .achievement-block-images
                text-align right
                margin-bottom 8px
                &-picture-small 
                   background-size cover
                   float right
                   height 150px
                   width 150px
                   margin-top 30px
        
    &-share
        padding 25px
        
    &-attachedquest
        &-block 
            @extends .simplebox-padding
            position relative
            background-size cover 
            background-position center
            color white
            min-height 20px
            
            &-curtain
                position absolute
                left 0
                top 0
                width 100%
                height 100%
                background-color rgba(black, 0.5)
                z-index 10
        &-info 
            @extends .dib_t
            position relative
            z-index 20
            width 340px
            margin-right 20px
            &-link 
                color CSub
        &-rewards
            @extends .dib_t
            position relative
            z-index 21
            width 200px
            &-list 
                &-link 
                    color CSub
       
/* . achievement list end */


/* NEWS */
/*       height 100px */

.newblock
    @extends .simplebox
    @extends .simplebox-padding 
    box-shadow BoxShadow 
    display block
    margin-bottom 20px
    text-decoration none
    white-space nowrap
    &-pic
        @extends .dib_t
        width 100px 
        margin-right 30px
        line-height 1.3em
        text-align center
        &-userlink
            display block
            width 100px
            height 100px
            overflow hidden
            text-overflow ellipsis
            background-size cover
        & img 
            max-width 100px
        &-name
           margin-bottom 7px
           display block
           white-space nowrap
           overflow hidden
           text-overflow ellipsis
    &-data
        @extends .dib_t
        white-space normal
        width 570px 
        line-height 1.3em
        &-text
         @extends .dib_t
         width 430px
         margin-top 25px
    &-icon 
        @extends .dib_m
        margin-left 30px
        & img 
            max-width 50px
    &-pic-user-to
        @extends .dib_t
        width 100px 
        height 100px 
        padding-left 30px
        text-align center
        & img 
            max-width 100px
        &-name
           margin-bottom 7px
           display block
 
.not-date
   color #9a9ba0

        
/* NEWS END */

/* possible-frined */
.possible-friends
    &-block 
        @extends .dib_t 
        margin-bottom 25px
        margin-right  5px
        width 189px 
        text-align center 
        &-follow
            width 100px
            margin 15px auto
            &.followed 
                opacity 0.7
        &-pic 
          @extends .dib_t
          width 100px 
          margin-right 30px
          line-height 1.3em
          text-align center
          &-userlink
              display block
              width 180px
              height 180px
              overflow hidden
              background-size cover
          &-name
           margin-bottom 7px
           display block
           white-space nowrap
           overflow hidden
           text-overflow ellipsis

.friend-list 
    
    display block 
    &-header
        margin-bottom 25px
        &-block 
            @extends .dib_base
            
            text-align center
            font-size 14px
            &-goals
                width 100px
                margin-left 360px
            &-achievements
                width 100px
    
            &-points
                width 100px
    
            &-level
                width 100px
           
            &-but
                width 100px
           
    
    &-block
        
        @extends .simplebox
        @extends .simplebox-padding 
        box-shadow BoxShadow 
        display block
        margin-bottom 20px
        text-decoration none
        &-pic
            @extends .dib_m
            width 50px 
            margin-right 30px
            &-img 
                max-width 50px
        &-pic2
            @extends .dib_m
            margin-right 30px
            width 100px
            height 100px
            overflow hidden
            text-overflow ellipsis
            background-size cover
        &-name 
            @extends .dib_base
            font-size 18px 
            margin-right 25px 
            width 162px
            text-overflow ellipsis
        &-goals 
            @extends .dib_base
            color CGrayText
            width 100px
            text-align center
        &-achievements
            @extends .dib_base
            color CGrayText
            width 100px
            text-align center
        &-points
            @extends .dib_base
            color CGrayText
            width 100px
            text-align center
        &-level
            @extends .dib_base
            text-align center
            font-size 18px 
            font-weight bold
            width 80px
      
        &-but
            @extends .dib_base
            text-align center
            font-size 18px 
            font-weight bold
            width 80px
      

/* profileview */  
.profileview
    @extends .simplebox
    @extends .simplebox-padding
    white-space nowrap
    
    &-aside 
        @extends .dib_t          
        white-space normal
        margin-right 25px
        width 150px    
        &-img
            width 160px
            height 190px
            background-position center
            background-size cover
         &-follower 
            margin-top 15px
    &-content 
        @extends .dib_t
        white-space normal
        position relative
        width 550px
        &-level 
          margin-left -12px
          padding-top 151px
        &-view
          font-size 20px
          line-height 1.4em
          & p
            margin-top 20px
            margin-bottom 0px
            color CGray
          & a
            font-size 16px
    &-allachievements
        @extends .dib_m
        margin-top 20px
        margin-right 20px
        font-size 20px !important
    &-level
        @extends .dib_m
        width 50px
        height 50px
        box-sizing border-box
        border 6px rgba(CAccent, 0.5) solid
        position relative
        overflow hidden
        border-radius 25px
        &-point 
           position absolute
           background-color CAccent
           font-size 22px 
           color white 
           text-align center
           width 100%
           height 100%
           font-weight bold
           line-height	39px
    &-h1
       color CBlack
       font-size 32px
       margin-bottom 20px
       margin-top 5px
    &-leaderboard-link
      font-size 20px !important
    &-mainscale
       padding-top 5px
       padding-bottom 5px
    &-stats
       line-height 1.4em
       &-interests
          line-height 1.3em
          & a
            font-size 15px

/* profileview end */            
        
/* profileedit */  
.editprofile
    @extends .simplebox
    @extends .simplebox-padding
    &-field 
        white-space nowrap
        margin-bottom 20px
        &-label 
            @extends .dib_t 
            width 150px
        &-input 
            @extends .dib_t
            width 250px
/* profileedit end */    

            
/*system */
.rangeslider
    background-color rgba(CMain, 0.3)  !important
.rangeslider__fill
    background-color CMain !important
    
.input-check-inline
    @extends .dib_base
    margin-right 20px
.c
    &-analytics 
        color CAccent

.mdlst
    &-h2
        font-size 32px 
        text-transform uppercase 
        color CAccent
    &-h2t
        font-size 32px 
        margin-top 20px
        color CBlack
    &-h3
        font-size 18px
        color CBlack
        font-weight normal
    &-accent 
        color CMain
        
    &-button
        font-size 14px 
        border-radius 30px 
        padding 9px 30px
        text-decoration none 
        border none
        outline 0
        cursor pointer
        white-space nowrap
        &-disabled 
            background-color rgba(CMain, 0.5) !important
            color white
            padding 13px 30px
        &-default 
            background-color CMain
            color white
            padding 13px 30px
        &-accent 
            @extends .dib_base
            margin-top 37px
            /*margin-bottom 50px*/
            background-color CAccent
            color white
            &-main
               margin 0px
               background-color CAccent
        &-gray 
            @extends .dib_base
            background-color CGrayText
            color white     
        &-gray-outline 
            @extends .dib_base
            background-color transparent
            border-width 1px
            border-color CGrayText
            border-style solid
            color CGrayText
        &-closer 
            @extends .dib_base
            width 17px 
            height 17px 
            background-image url(../img/closer.png)
            margin-bottom -4px
            margin-left 5px 
        &-smaller 
            padding 7px 15px
        &-interest 
            margin-bottom 5px
        
    &-input
        border none 
        outline 0
        border-bottom 2px CMain solid 
        padding 10px 20px 
        font-size 18px
        text-align center
        &-small
            padding 2px 5px 
            font-size 14px 
            text-align center
            border 2px solid rgba(CMain, 0.3)
            border-radius 3px
            width 100%
            box-sizing border-box
            outline 0
        
    &-hr 
        background-image url(../img/hr.png)
        width 75%
        height 10px 
        margin 0 auto 
        margin-top 15px 
        margin-bottom 15px
        &-w 
            width 100%
        

    &-switch 
        white-space nowrap
        cursor pointer
        &-state 
            @extends .dib_m
            position relative
            margin-right 10px
            &-w 
                box-shadow BoxShadow
                overflow hidden
                border-radius 20px 
                width 52px
                height 26px
                background-color white
                position relative
            &-curtain 
                border 1px solid rgba(CBlack, 0.05)
                background-color CMain
                position absolute 
                left 0
                top 0
                width 100%
                height 100%
                z-index 50
                opacity 0
                -webkit-transition all 200ms linear
                -o-transition all 200ms linear
                transition all 200ms linear
            &-track
                position absolute
                z-index 100 
                width 26px
                height 26px
                background-color CMain
                border-radius 20px
                left 0
                top 0
                -webkit-transition all 200ms linear
                -o-transition all 200ms linear
                transition all 200ms linear
        &-on 
            & .mdlst-switch-state-track
                margin-left 26px
            & .mdlst-switch-state-curtain
                opacity 0.3
        &-chk 
            display none
                
                
        &-text 
            @extends .dib_base
            
    &-pan 
        position relative 
        white-space nowrap
        
        box-sizing border-box 
        padding 20px
        &-important
            background-color rgba(CAccent, 0.2)
            & .mdlst-pan-icon
                background-image url(../img/important.png)    
        &-info
            background-color rgba(CMain, 0.2)
            & .mdlst-pan-icon
                background-image url(../img/pan-ok.png)
        &-success
            background-color rgba(green, 0.2)
            & .mdlst-pan-icon
                background-image url(../img/pan-success.png)    
        &-icon 
            @extends .dib_t
            width 10%
            height 63px
            background-repeat no-repeat
            background-position center
        &-text
            @extends .dib_t
            white-space normal
            width 90%
    &-progress
        margin-top 15px 
        margin-bottom 15px
        &__agressive 
            & .mdlst-progress-viewport
                background-color rgba(CAccent, 0.6) !important
        &__smaller 
            & .mdlst-progress-viewport
                height 6px
            & .mdlst-progress-track
                height 6px
        &-viewport 
            background-color rgba(CMain, 0.25)
            width 100%
            height 12px
            position relative
            border-radius(10px)
            overflow hidden
        &-track
            position absolute
            left 0 
            top 0 
            height 12px 
            width 100%
            margin-left -100%
            -webkit-transition all 400ms linear
            -o-transition all 400ms linear
            transition all 400ms linear
            border-radius(10px)
            background-color CMain
            
    &-status
        &-icon 
            @extends .dib_t
            width 16px
            height 16px
            margin-right 5px
            background-repeat no-repeat
        &__pending 
            & .mdlst-status-icon
                background-image url(../img/icon-time.png)
                
    &-cattag 
        color white 

        @extends .dib_base
        padding 5px 15px
        font-size 14px
        /* todo - dynamic */
        &-1 
            background-color #04a9f4    
            
        &-2 
            background-color #79c8a6   
        &-3 
            background-color #cfa218    
            
    &-rewardbadge
        &-small 
            width 50px 
            & img 
                max-width 40px     
                
    &-lurm 
        color CAccent
        font-size 18px 
        font-weight bold
        & i 
            @extends .dib_icon
            vertical-align middle
            margin-right 3px
            width 18px
            height 24px
            background-image url(../img/lurms.png)

.share-widget
    &-title
        @extends .dib_m
        margin-right 20px
        font-weight bold
    &-content
        @extends .dib_m
        
            
.rewardpopup
    position fixed 
    background-color rgba(CBlack, 0.9)
    left 0
    top 0
    width 100%
    height 100%
    z-index 2000
    &-bg
        background-image url(../img/reward_ribbons_back.png)
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        background-position center
        background-repeat no-repeat
        z-index 500    
    &-form 
        position absolute
        left 50%
        top 50%
        background-image url(../img/reward_bg.png)        
        margin-left -265px
        margin-top -295px
        z-index 1000
        width 530px
        height 590px 
        &-text 
            padding 35px 55px
            margin-top 145px
            font-size 16px
        &-btn 
            background-color CAccent
            color white 
            &-wrapper
                text-align center
        &-pic
            text-align center
            &-img 
                max-width 140px
                margin-bottom 15px
                



.plus
    &-controll 
        cursor pointer
    &-add
        color inherit
    &-cross 
        border-color rgba(CAccent, 0.3)
        transform rotate(45deg)
        &:hover 
            transform  rotate(45deg) scale(1.1)
        & .container-menu-list-meta-add-plus
            background-color CAccent
    &-lightcross 
        border-color rgba(CBlack, 0.1)
        transform rotate(45deg)
        &:hover 
            transform  rotate(45deg) scale(1.1)
        & .container-menu-list-meta-add-plus
            background-color rgba(CBlack, 0.2)
            



/* GOALS */
.clear
  clear: both

.mdlst-h2t-goals
  font-size: 32px
  margin-top: 20px
  margin-bottom: 20px
  color: #31333e

.mygoals-clock
  float: left
  margin-top: 9px

.output-header-meta-goals
  position: absolute
  right: 540px
  top: 15px
  height: 30px

.mygoals-process
  color: #a7a7a7
  margin-left: 8px
  font-size: 14px
  line-height: 32px

.mygoals-name-div
  position: relative
  left: 0px
  top: 0px

.mygoals-name
  color: #8a44ff
  font-size: 24px
  line-height: 35px
  float: left

.goal-done-button
  background-color: #8a44ff
  color: #fff
  float: right
  width: 110px

.mygoals-stats-div
  position: relative
  margin-top: 20px

.mygoals-left-wrapper
  width: 500px
  float: left

.mygoals-diff
  font-size: 14px
  float: left
  line-height: 18px

.mygoals-stars
  margin-left: 90px

.mygoals-star
  background-repeat: no-repeat
  background-position: center
  width: 16px
  height: 15px
  float: left
  margin-left: 1px
  margin-right: 1px

.star-yellow
  background-image: url("../img/goals/star-yellow.png")

.star-grey
  background-image: url("../img/goals/star-grey.png")

.mygoals-dead
  font-size: 14px
  float: left
  line-height: 18px
  margin-left: 25px

.color-red
  color: red

.mygoals-lock
  float: left
  margin-top: 0px
  margin-left: 40px

.mygoals-privat
  margin-left: 10px
  color: #a7a7a7
  font-size: 14px
  float: left
  line-height: 18px

.mygoals-progress
  padding-top: 40px
  width: 320px

.goal-edit-button
  background-color: #fff
  color: #8a44ff
  float: right
  width: 110px
  border: thin dashed

.goals-pictures
  margin-top: 30px
  margin-bottom: 30px

.goals-picture-big
  float: left
  width: 431px
  height: 285px
  background-size cover


.goals-picture-mid
  width: 238px
  height: 227px
  background-size cover
  float right


.goals-picture-small
  float: left
  margin-left: 18px
  width: 18%
  height: 128px
  background-size cover

.goals-picture-small:nth-child(1),
.goals-picture-small:nth-child(2)
  margin-bottom: 29px

.goals-description
  color: #31333e

ntainer
  margin-top: 30px
  /*   height: 100%;*/

.tabs
  width: 100%
  min-height: 600px

.tabs-ul,
.tabs-li
  margin: 0
  padding: 0
  list-style: none

.tabs,
.tabs input[type="radio"]:checked + label
  position: relative

.tabs-li,
.tabs input[type="radio"] + label
  display: inline-block

.tabs-li > div,
.tabs input[type="radio"]
  position: absolute

.tabs-li > div,
.tabs input[type="radio"] + label
  /*    border-bottom: solid 2px #ccc;*/

.tabs
  font-size: 18px

.tabs-li
  vertical-align: top

.tabs-li:first-child
  margin-left: 8px

.tabs-li > div
  top: 33px
  bottom: 0
  left: 0
  width: 100%
  padding: 8px
  overflow: auto
  background: #fff
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

.tabs input[type="radio"] + label
  margin: 0 0px 0 0
  padding: 0 18px
  line-height: 32px
  border-bottom: solid 2px #cecfd3
  text-align: center
  border-radius: 5px 5px 0 0
  cursor: pointer
  -moz-user-select: none
  -webkit-user-select: none
  user-select: none

.tabs input[type="radio"]:checked + label
  z-index: 1
  background: #fff
  border-bottom: solid 2px #8a44ff
  cursor: default
  color: #8a44ff

.tabs input[type="radio"]
  opacity: 0

.tabs input[type="radio"] ~ div
  display: none

.tabs input[type="radio"]:checked:not(:disabled) ~ div
  display: block

.tabs input[type="radio"]:disabled + label
  opacity: .5
  cursor: no-drop

.goal-subtask
  margin: 0
  padding: 0
  list-style: none

.subtask-container
  margin-top: 20px

.subtask-top
  height: 43px

.subtask-top input
  color: #8a44ff
  /*	width:20px;*/
  float: left

.subtask-top span
  float: left

.subtask-top-left
  margin-top: 10px
  float: left
  margin-right: 30px

.subtask-top-name
  width: 380px
  font-size: 14px

.subtask-done .subtask-top-name
  text-decoration: line-through

.subtask-top span.subtask-top-dead
  width: 70px
  margin-left: 46px

.subtask-bottom
  font-style: italic
  margin-left: 20px
  font-size: 14px
  color: #31333e

.subtask-progress
  width: 70px
  float: left
  margin-top: 7px
  margin-left: 15px

.subtask-progress-height
  height: 6px

.margin-0
  margin: 0

.subtask-points
  margin-left: 40px
  margin-top: 10px
  padding: 0
  list-style: none

.subtask-points li
  padding-top: 10px

.input-check
  display: inline-block
  *display: inline
  /* inline-block ie7 fix */
  *zoom: 1
  /*  vertical-align: top;
  position: relative;   */
  cursor: pointer
  float: left

.input-check input
  width: 26px
  height: 25px
  margin: 0
  padding: 0
  position: absolute
  left: 0
  top: 50%
  margin-top: -7px
  cursor: pointer
  z-index: 10
  opacity: 0

.input-check label
  font-size: 14px
  line-height: 22px
  display: block
  padding-left: 40px
  position: relative
  z-index: 1
  cursor: pointer

.input-check label:before
  display: block
  position: absolute
  left: 0
  top: 50%
  width: 26px
  height: 25px
  margin-top: -11px
  background: rgba(0, 0, 0, 0) url(../img/goals/checkbox.png) no-repeat
  z-index: 5
  content: ''

.input-check input:checked + label:before
  background-position: 0 -25px

.marginTop30
  margin-top: 30px

.marginBottom30
  margin-bottom: 30px

.withButton
  float: left

.withHeader
  margin-top: 27px
  margin-right: 70px
  width: 155px
  padding: 12px 30px

.withProcess
  float: left
  padding-top: 20px

.processWprogress
  height: 30px
  position: absolute
  left: 363px
  top: 29px

#mygoals-name
  color: #8a44ff
  font-size: 24px
  line-height: 35px
  float: left

.withNoButton
  margin-top: 10px

.listGoals-left
  float: left
  min-height: 227px
  width: 470px
  margin-right: 30px


.withList
  float: none

.goalDescr
  margin-top: 80px

.showSubtasts
  color: #a7a7a7
  text-decoration: underline
  cursor: pointer

.goal-content
  margin-bottom: 30px

.mygoals-block
  text-decoration: none

/* goal comments */
.goal-comments-block
  box-sizing: border-box
  padding: 25px

.goal-addsubtask-button
  display: inline-block
  vertical-align: middle
  width: 200px
  zoom: 1

.goal-addsubtask-text
  display: inline-block
  vertical-align: middle
  width: 200px
  zoom: 1


/* GOALS END*/


.text-align-center
  text-align center

.page
    &-h1
        font-size 32px 
        text-transform uppercase 
        color CBlack
        text-align center
    &-h2
        font-size 19px 
        text-transform uppercase 
        color CBlack
        text-align center
    &-h3
        font-size 20px
        color C_Purple
        font-weight normal
        text-align left
        margin-top 20px
        margin-bottom 10px
    &-accent 
        color CMain
    &-p
        font-size 18px 
        margin 0



/* lastachievement */
.lastachievement
    &-wrapper 
        width 65%
        margin 0 auto
    @extends .simplebox
    @extends .simplebox-padding
    position relative
    display block
    min-height 250px
    margin-bottom 30px
    text-decoration none
    background-position center
    &:before
        position absolute
        left 0
        top 0 
        width 100%
        height 100%
        content " "
        background-color rgba(black, 0.25)
        z-index 10
    &-info 
        position absolute
        left 150px
        width 400px
        top 50px
        z-index 20
        color white
        &-data
            white-space nowrap
            &-pic 
                @extends .dib_t 
                width 100px 
                height 100px 
                border-radius 50px 
                overflow hidden 
                background-size cover 
                background-position center
                background-repeat no-repeat
                border 2px solid white
                & img 
                    max-width 100px
            &-name 
                margin-bottom 15px 
                margin-top 10px
                font-size 20px
            &-text 
                font-size 24px
                line-height 24px
                text-overflow ellipsis
            &-data
                white-space normal
                padding-left 20px
                @extends .dib_t

/* lastachievement end */


.notifications
    @extends .simplebox
    @extends .simplebox-padding
    position absolute
    z-index 500
    width 300px
    margin-left -150px
    background-color white
    border 1px solid #EEE
    top 100%
    white-space normal
    &-block 
        box-sizing border-box 
        padding 6px 
        margin-bottom 15px
        white-space nowrap
        &__new 
            background-color rgba(CMain, 0.06)
        &-user
            @extends .dib_t
            width 50px
            margin-right 5px
            &-pic 
                border-radius 40px 
                overflow hidden
                background-size cover 
                background-repeat no-repeat
                background-position center
                width 50px 
                height 50px
        &-text 
            @extends .dib_t
            font-size 12px
            width 180px
            white-space normal
            line-height 1.35em

.notificationslist
    @extends .simplebox
    @extends .simplebox-padding
    
    width 100%
     
    background-color white
    border 1px solid #EEE
    
    white-space normal
    &-block 
        box-sizing border-box 
        padding 15px 
        margin-bottom 15px
        white-space nowrap
        &__new 
            background-color rgba(CMain, 0.06)
        &-user
            @extends .dib_t
            width 60px
            margin-right 15px
            &-pic 
                border-radius 40px 
                overflow hidden
                background-size cover 
                background-repeat no-repeat
                background-position center
                width 60px 
                height 60px
        &-text 
            @extends .dib_t
            font-size 14px
            white-space normal
            line-height 1.35em




#nav-serv,#nav-serv li ul{
margin:0px;
padding:0px;
list-style:none;
}


#nav-serv > li{
float:left;
width:40px;
height:21px;
background: url(../img/3points.gif) no-repeat;
background-position : center
}

#nav-serv li ul{
display:none;
position:absolute;
z-index:100;
width:145px;
/*left:592px;*/
margin-top: 23px !important; 
margin-left:-106px;
}

#nav-serv li:hover ul{
display:block
}

#nav-serv > li{
background-color:#F5F5F5;
text-align:center;
padding:3px 0px 3px 0px;
border-top:1px solid #E8E8E8;
border-right:1px solid #E8E8E8;
}

#nav-serv > li:hover{background-color:#E8E8E8;}

#nav-serv > li > a{
color:#000000;
text-decoration:none;
text-transform:uppercase;
}


#nav-serv li ul{
margin-top:0px;
background-color:#ffffff;
border:1px solid #E8E8E8;
}

#nav-serv li ul li{
text-align:left;
padding:5px 5px 5px 15px;
}

#nav-serv li ul li a{
color:#000000;
text-decoration:none;
}

#nav-serv li ul li a:hover{
color:#553CCF;
text-decoration:none;
}

