@media all and (max-width 1270px)
    .simplebox    
        &-padding 
            padding 20px 20px 
            
    .wc
        width 768px
        margin 0 auto
        position relative
        &-c 
            text-align center
    

    /* cols */
    .container-col-1
        width 200px
    .container-col-2
        width 570px
        
    /* common */
    .mdlst-button
        padding  8px 20px
    .mdlst-h2t-goals
        font-size 24px
        

    /* top menu */
    .header-menu
        width 431px
    .header-menu-list-li-a
        font-size 13px
    .header-logo
        width 182px
    .header-enter-link
        font-size 14px
        margin-right 20px
        

    /*user panel */
    .userpanel-user
        width 300px
        &-pic 
            width 60px
            height 60px
            margin-right 14px
    .userpanel-info
        width 450px
        margin-top 5px
    .userpanel-user-info-name
        font-size 18px
    .userpanel-user-info-date
        font-size 14px
    .userpanel-user-notifications
        margin-left 20px
        
    .userpanel-info-level
        width 50px
        height 50px
        margin-right  10px
    .userpanel-info-level-point
        font-size 24px
        padding-top 0px
        

    /* profile */
    .profileview-content
        width 320px
    .profileview-aside-img
        width 100px
        height 100px
    .possible-friends-block-pic-userlink
        width 150px
        height 150px
    .profileview-content-level
        padding-top  60px

    .profileview-h1
        font-size 22px
    .possible-friends-block
        width 159px
        
    .editprofile-field-label
        width  120px
        font-size 13px
    .editprofile-field-input
        width  130px
        & input 
            width 100%
        
        
        
    /* last achievement */        
    .lastachievement-info
        left 50px 
    .lastachievement-info-data-data
        width 300px
        line-height 1.5em

    /* user link */
    .achievement-block-user-link
        width 270px
    .achievement-block-user-pic
        width 55px
        height 55px
    .achievement-block-user-name
        font-size 16px
        margin-left 10px