.mobile_only {
  display: none;
}
@media all and (max-width: 800px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .mobile_only {
    display: block;
  }
  .mobile_only-inline-block {
    display: inline-block;
  }
  .mobile_only-inline {
    display: inline;
  }
  .simplebox-padding {
    padding: 10px 10px;
  }
  .wc {
    width: 320px;
    margin: 0 auto;
    position: relative;
  }
  .wc-c {
    text-align: center;
  }
  .container-col-1 {
    width: 320px;
  }
  .container-col-2 {
    width: 320px;
  }
  .container-cols {
    white-space: normal;
  }
  .container-col-1 {
    width: 100%;
  }
  .container-col-2 {
    width: 100%;
  }
  .mdlst-button {
    padding: 8px 20px;
  }
  .mdlst-h2t,
  .mdlst-h2t-goals {
    font-size: 18px;
    white-space: normal;
  }
  .footer-wrapper {
    white-space: normal;
  }
  .footer-menu {
    width: 100%;
  }
  .footer-copy {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .mdlst-pan-text {
    font-size: 14px;
  }
  .output-header {
    white-space: normal;
  }
  .output-controlls-searchbox,
  .questblock-info {
    width: 100%;
  }
  .myrewards-list,
  .rewards-catalog-list {
    text-align: center;
  }
  .myrewards-block {
    margin-right: 0;
    margin-bottom: 45px;
  }
  .header-menu {
    display: none;
  }
  .header-menu-list-li-a {
    font-size: 13px;
  }
  .header-logo {
    width: 120px;
  }
  .header-logo img {
    max-width: 100px;
    margin-top: 5px;
  }
  .header-enter-link {
    font-size: 14px;
    margin-right: 20px;
  }
  .userpanel-user {
    width: 100%;
  }
  .userpanel-user-pic {
    width: 60px;
    height: 60px;
    margin-right: 14px;
  }
  .userpanel-info {
    width: 100%;
    margin-top: 5px;
  }
  .userpanel-user-info-name {
    font-size: 18px;
  }
  .userpanel-user-info-date {
    font-size: 14px;
  }
  .userpanel-user-notifications {
    margin-left: 20px;
  }
  .userpanel-info-scale {
    width: 250px;
  }
  .userpanel-info-level {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .userpanel-info-level-point {
    font-size: 24px;
    padding-top: 0px;
  }
  .profileview-content {
    width: 100%;
  }
  .profileview-aside-img {
    width: 100px;
    height: 100px;
  }
  .possible-friends-block-pic-userlink {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .profileview-content-level {
    padding-top: 154px;
  }
  .profileview-h1 {
    font-size: 22px;
  }
  .possible-friends-block {
    width: 100%;
    text-align: center;
  }
  .editprofile-field-label {
    width: 120px;
    font-size: 13px;
  }
  .editprofile-field-input {
    width: 130px;
  }
  .editprofile-field-input input {
    width: 100%;
  }
  .friend-list-header-block-goals {
    margin-left: 180px;
    width: 80px;
  }
  .friend-list-block-pic2 {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .friend-list-header-block {
    font-size: 14px;
  }
  .friend-list-block-name {
    width: 72px;
    margin-right: 5px;
  }
  .friend-list-block-goals {
    width: 70px;
    margin-rigth: 25px;
  }
  .friend-list-block-achievements {
    width: 110px;
  }
  .friend-list-block-points {
    width: 50px;
  }
  .friend-list-header-block-level {
    width: 60px;
  }
  .newblock {
    white-space: normal;
    position: relative;
  }
  .newblock-pic {
    width: 100%;
    margin-right: 10px;
  }
  .newblock-pic-name {
    float: right;
    text-align: left;
    width: 70%;
  }
  .newblock-pic-user-to {
    display: none;
  }
  .newblock-pic img {
    width: 80px;
    height: 80px;
  }
  .newblock-pic-userlink {
    width: 60px;
    height: 60px;
  }
  .newblock-data {
    width: 100%;
  }
  .newblock-data-text {
    width: 250px;
  }
  .newblock-data-text .not-date {
    display: block;
    font-size: 12px;
  }
  .newblock-icon {
    position: absolute;
    right: 0;
    top: 110px;
  }
  .newblock-desc {
    display: none;
  }
  .questblock {
    white-space: normal;
  }
  .questblock-pic {
    width: 100%;
  }
  .questblock-info-title {
    width: 300px;
    font-size: 17px;
  }
  .questblock-info-info-list-li {
    font-size: 12px;
  }
  .lastachievement-info {
    left: 50px;
  }
  .lastachievement-info-data-data {
    width: 100%;
    line-height: 1.5em;
  }
  .questblock-info-controlls-likes {
    margin-right: 15px;
    font-size: 14px;
  }
  .questblock-info-controlls-comments {
    margin-right: 10px;
    font-size: 14px;
  }
  .achievement-block-user-link {
    width: 100%;
  }
  .achievement-block-user-pic {
    width: 55px;
    height: 55px;
  }
  .achievement-block-user-name {
    font-size: 16px;
    margin-left: 10px;
  }
  .goals-picture-big {
    width: 100%;
  }
  .addach-tags-w {
    width: 100%;
  }
  .achievement-block-user {
    white-space: normal;
  }
  .achievement-block-user-allachievements {
    padding-left: 60px;
    box-sizing: border-box;
  }
  .achievement-block-content-info {
    margin: 0 !important;
  }
  .footer-menu-list-li {
    margin-left: 10px;
  }
  .footer-menu-list-li-a {
    font-size: 12px;
  }
  .profileview {
    white-space: normal;
  }
  .profileview-aside {
    width: 100%;
    margin-bottom: 30px;
  }
  .profileview-aside-img {
    width: 280px;
    height: 190px;
  }
  .editprofile-field {
    white-space: normal;
  }
  .mobile_menu_toggle {
    display: none;
  }
  .mobile_menu_toggle.mobile_menu_toggle__active {
    display: block;
  }
  .friend-list-header-block-goals,
  .friend-list-header-block-achievements,
  .friend-list-block-goals,
  .friend-list-block-achievements {
    display: none;
  }
  .friend-list-block {
    white-space: nowrap;
  }
  .friend-list-block-name {
    white-space: normal;
  }
  .friend-list-header-block-points {
    margin-left: 150px;
  }
  .achievement-block-content-col-1 {
    width: 100%;
  }
  .output-header-meta {
    top: 0;
  }
  .achievement-block-content-header-col-1 {
    width: 75%;
  }
  .achievement-block-content-header-col-2 {
    width: 25%;
  }
  .achievement-block-info {
    margin-top: 30px;
  }
  .share-widget-title {
    font-size: 13px;
    margin-bottom: 3px;
  }
  .addach-header-inp {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .addach-description-date {
    right: auto;
    left: 10px;
  }
  .addach-controlls-isgoal {
    display: none;
  }
  .addach-tags {
    white-space: normal;
  }
  .addach-tags-title {
    margin-bottom: 5px;
  }
  .addach-extra {
    white-space: normal;
  }
  .addach-extra-range {
    white-space: normal;
    width: 100%;
    margin-bottom: 20px;
  }
  .addach-extra-range-range {
    width: 80%;
    margin: 0 auto;
  }
  .addach-header-inp-w {
    width: 100%;
  }
  .achievement-block-content-cols {
    white-space: normal;
  }
  .achievement-block-content-col.achievement-block-content-col-1 {
    width: 100%;
  }
  .achievement-attachedquest-info {
    width: 100%;
  }
  .questdetail-completeduser-text {
    white-space: normal;
    text-align: left;
    margin-bottom: 5px;
  }
  .mygoals-left-wrapper {
    float: none;
    width: 100%;
    white-space: normal;
  }
  .mygoals-left-wrapper .withProcess {
    float: none;
    width: 100%;
  }
  .mygoals-dead {
    font-size: 12px;
    margin-left: 16px;
  }
  .mygoals-stars {
    margin-left: 67px;
  }
  .mygoals-diff {
    font-size: 12px;
  }
  .processWprogress {
    position: static;
  }
  .mygoals-progress {
    width: 300px;
  }
  .goal-addsubtask-text {
    width: 200px;
  }
  .goal-addsubtask-button {
    width: 50px;
  }
  .goal-addsubtask-controll {
    white-space: nowrap;
  }
  .subtask-top-left {
    white-space: normal;
    float: none;
    margin-right: 0;
  }
  .subtask-top-left .input-check {
    float: none;
    display: block;
  }
  .subtask-top-name {
    width: 100%;
  }
  .subtask-progress {
    float: none;
    margin-top: 3px;
    margin-left: 44px;
  }
}
